<div class="alert alert-info" ng-show="cargando">Cargando...</div>
<div class="container"  ng-show="!cargando && GetOK">
  <h2>Estudiantes</h2>
  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="alumno in alumnos">
        <td>
          {{alumno.nombre}}
        </td>
        <td>
          {{alumno.apellido}}
        </td>
        <td>
          {{alumno.modalidad.nombre}}
        </td>
        <td>
          {{alumno.mail}}
        </td>
        <td>
          {{alumno.mail2}}
        </td>
        <td>
          {{alumno.telefono}}
        </td>
        <td>
          {{alumno.celular}}
        </td>
        <td>
          {{alumno.como_conocio}}
        </td>
        <td>
          {{alumno.grado_interes}}
        </td>
        <td>
          {{alumno.fecha_interesado}}
        </td>
        <td>
          {{alumno.comentario}}
        </td>
        <td>
          {{alumno.provincia}}
        </td>
        <td>
          {{alumno.situacion_inscripcion}}
        </td>
        <td>
          {{alumno.situacion_especial}}
        </td>
        <td>
          {{alumno.dni}}
        </td>
        <td>
          {{alumno.domicilio}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="alert alert-warning"  ng-show="!cargando && !GetOK">
   Los Estudiantes no fueron obtenidos, intente nuevamente.
</div>