<div class="spinner" ng-show="cargando" />
<div class="container" ng-show="!cargando && (GetCoordinadoresOK && GetCoordinacionesOK)">
  <div ng-repeat="CordinadoresAgrupado in coordinadoresAgupados">
    <div class="row stylish-panel">
      <div ng-repeat="coordinador in CordinadoresAgrupado" class="col-md-3">
        <div>
          <img ng-src="{{coordinador.fotoPath}}" class="img-circle img-thumbnail" width="100" height="100" alt="{{coordinador.nombre}}">
          <h4>{{coordinador.nombre}}</h4>
          <p><span class="glyphicon glyphicon-earphone" aria-hidden="true">&nbsp{{coordinador.telefonoFijo}}&nbsp<span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp{{coordinador.telefonoCelular}}</p>
          <p><span class="glyphicon glyphicon-send" aria-hidden="true">&nbsp<a href="mailto:{{coordinador.email}}">{{coordinador.email}}</a></p>
          
          <p><span class="glyphicon glyphicon-tag" aria-hidden="true">&nbsp{{coordinador.comentarios}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-warning" ng-show="!cargando && ! (GetCoordinadoresOK && GetCoordinacionesOK)">
  Los Coordinadores no fueron obtenidos, intente nuevamente.
</div>