<div class= "divSpinner" ng-show="cargando">
    <div class="spinner" />
</div>
<div class="container">
	<div class="row">
    <div class="alert alert-warning" ng-show="!cargando && !(getDivisionesOK && getCoordinacionesOK && getGruposOK)">
        Las divisiones no fueron obtenidas, intente nuevamente.
    </div>
  </div>
  <div class="row">
		<div class="alert alert-danger" ng-show="error.hayError">
			<p ng-repeat="error in error.errores">
				<strong>{{error.codigo}}:</strong><em>&nbsp;{{error.mensaje}}</em>
			</p>
		</div>
	</div>
</div>
<div class="container" ng-show="!cargando && (getCoordinacionesOK && getDivisionesOK && getGruposOK)">
  <div class="col-md-7">
    <div class="col-md-5">
        <h2>
          Divisiones
          <i class="fa fa-plus-circle text-primary" aria-hidden="true" ng-click="irACrearDivision()" role="button" data-toggle="tooltip" title="Dar de alta una nueva División."></i>
        </h2>
    </div>
    <div class="col-md-7 text-right">
      <br>
      <select ng-options="carrera as carrera.descripcion for carrera in carreras" ng-model="carreraSeleccionada"></select>
    </div>
    <table class="table table-striped">
      <theader>
        <tr>
          <th>
            Año
          </th>
          <th>
            Cuatrimestre
          </th>
          <th>
            Modalidad
          </th>
          <th>
            Turno
          </th>
          <th>
            Div
          </th>
          <th>
            Coordinación
          </th>
          <th class="text-right">
            <span class="badge">{{(grupos | filter:filtroCarrera(carreraSeleccionada)).length}}</span>
          </th>
          <th class="text-center" >
          </th> 
        </tr>
      </theader>
      <tbody>
        <tr ng-repeat="division in divisiones | filter:filtroCarrera(carreraSeleccionada)" ng-class="{'selected':$index==selectedRow}" ng-click="setClickedRow($index);cargarGrupo(division)"
          ng-style="{'background-color':($index==selectedRow ? 'yellow':'')}">
          <td vertical-align="middle">
            {{division.curso.anioInicio}}
            <br> {{ordinales[division.curso.anioLectivo-1]}} año.
          </td>
          <td vertical-align="middle">
            {{meses[division.curso.mesInicio-1]}}-{{meses[division.curso.mesFinal-1]}}<br>
              {{ordinales[division.curso.nmestreLectivo-1]}} Cuatrimestre.
          </td>
          <td vertical-align="middle">
            {{division.modoId}}
          </td>
          <td vertical-align="middle">
            {{division.turnoId !== 'Virtual'  ? division.turnoId : null}}
          </td>
          <td>
            {{division.divisionId}}
          </td>
          <td>
            <div class="media">
              <div class="row">
                <div class="col-md-6" ng-repeat="coordinacion in coordinaciones | filter:filtroDivision(division)">
                  <img class="media-object img-circle" class="" width="33" height="33" src="{{coordinacion.coordinador.fotoPath}}" alt="{{coordinacion.coordinador.nombre}}" onerror="this.onerror=null;this.src='img/Persona.png';"
                    data-toogle="tooltip" title="{{coordinacion.coordinador.nombre}}">
                </div>
              </div>
            </div>
          </td>
          <td class="text-right">
            <span class="badge">{{obtenerCantidadAlumnos(division)}}</span>
          </td>
          <td class="text-center" vertical-align="middle">
            <i class="fa fa-pencil-square-o icon-primary icon-pointer" aria-hidden="true" ng-click="irAEditarDivision(division)"/>
            <br>
            <i class="fa fa-trash-o icon-danger icon-pointer" aria-hidden="true" ng-click="irAEliminarDivision(division)" ng-hide="obtenerCantidadAlumnos(division)+obtenerCantidadCoordinadores(division)>0"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <h2>Estudiantes
      <i class="fa fa-plus-circle text-primary" aria-hidden="true" ng-click="irAEditarGrupo()" role="button" data-toggle="tooltip" title="Editar un Grupo." ng-hide="divisionSeleccionado===null" ></i>
    </h2>
    <div style="max-height: 450px; overflow-y: auto;">
      <table class="table table-striped">
        <theader>
          <tr>
            <th>
              Legajo
            </th>
            <th>
              Nombre
            </th>
          </tr>
        </theader>

        <tbody>
          <tr ng-repeat="grupo in grupos | filter:filtroDivision(divisionSeleccionado)">
            <td>
              {{grupo.legajo.legajoNro}}
            </td>
            <td>
              {{grupo.legajo.alumno.apellido}},&nbsp{{grupo.legajo.alumno.nombre}}
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

