<div class="divSpinner" ng-show="cargando">
	<div class="spinner" />
</div>

<div class="container" ng-show="!cargando && error.hayError">
	<div class="row">
		<div class="alert alert-warning">
			Los datos de esta página no fueron procesados correctamente, intente nuevamente.
		</div>
	</div>
	<div class="row">
		<div class="alert alert-danger">
			<p ng-repeat="error in error.errores">
				<strong>{{error.codigo}}:</strong><em>&nbsp;{{error.mensaje}}</em>
			</p>
		</div>
	</div>
</div>


<div ng-show="!cargando && !error.hayError">
	<div class="col-md-7 col-xs-9">
		<form novalidate name="myForm" class="css-form" autocomplete="off">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Ficha de División
				</div>
				<div class="panel-body no-gutter">
					<div class="col-sm-12">
						<h3>Curso</h3>
					</div>
			
					<!-- Carrera -->
					<div class="col-sm-6">
						<div class="input-group" ng-class="myForm.carrera.$valid ? 'has-success' : 'has-error'" ng-hide="esEdicion()">
							<span class="input-group-addon" data-toggle="tooltip" title="Carrera">
								<span class="glyphicon glyphicon-home" aria-hidden="true" /></span>
							<input type="text" ng-model="carrera.carreraId" name="carrera" ng-hide="true" required/>
							<select class="form-control" ng-options="carrera as carrera.descripcion for carrera in carreras" ng-model="carrera" ng-disabled="esEdicion()"></select>
						</div>
						<div class="input-group" ng-class="'has-success'" ng-show="esEdicion()">
							<span class="input-group-addon" data-toggle="tooltip" title="Carrera">
								<span class="glyphicon glyphicon-home" aria-hidden="true" /></span>
							<input class="form-control" type="text" ng-model="carrera.descripcion" ng-readonly="true" />
						</div>
					</div>
				
					<!-- Modos: [Presencial , A Distancia] -->
					<div class="col-sm-6 ">
						<div class="input-group " ng-class="myForm.modo.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon" data-toggle="tooltip" title="Modo de cursada">
								<i class="fa fa-users" aria-hidden="true"></i>&thinsp;/
								<i class="fa fa-desktop" aria-hidden="true"></i>
							</span>
							<input type="text" ng-model="cursoEditando.modoId" name="modo" required ng-hide="true" />
							<div class="btn-group" role="group" aria-label="...">
								<button type="button small" class="btn" ng-repeat="modo in modoLista" ng-class="cursoEditando.modoId==='{{modo.descripcion}}' ? 'btn-info' : 'btn-default'" ng-click="setModo($index)" ng-disabled="esEdicion()">{{modo.descripcion}}</button>
							</div>
						</div>
					</div>

					<!-- Anio Inicio-->
					<div class="col-sm-4">
						<div class="input-group" ng-class="myForm.anioInicio.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon ">
								<i aria-hidden="true" data-toggle="tooltip" title="Año calendario en que se inicia el dictado el curso.">Año Inicio</i>
							</span>
							<input type="number" class="form-control text-center" name="anioInicio" placeholder="[aaaa]" ng-model="cursoEditando.anioInicio" min="2015" max="2099" required ng-readonly="esEdicion()" />
						</div>
					</div>

					<!-- Mes Inicio-->
					<div class="col-sm-4">
						<div class="input-group" ng-class="myForm.mesInicio.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon ">
								<i aria-hidden="true" data-toggle="tooltip" title="Mes Calendario en que se inicia el dictado del curso.">Mes Inicio</i>
							</span>
							<input type="number" class="form-control text-center" name="mesInicio" placeholder="[mm]" ng-model="cursoEditando.mesInicio" min="1" max="12" required ng-readonly="esEdicion()" />
						</div>
					</div>

					<!-- Mes Final-->
					<div class="col-sm-4">
						<div class="input-group" ng-class="myForm.mesFinal.$valid && cursoEditando.mesInicio<=cursoEditando.mesFinal ? 'has-success' : 'has-error'">
							<span class="input-group-addon ">
								<i aria-hidden="true" data-toggle="tooltip" title="Mes Calendario en que finaliza el dictado del curso.">Mes Final</i>
							</span>
							<input type="number" class="form-control text-center" name="mesFinal" placeholder="[mm]" ng-model="cursoEditando.mesFinal" min="1" max="12" required ng-readonly="esEdicion()" />
						</div>
					</div>


					<!-- Anio lectivo-->
					<div class="col-sm-4">
						<div class="input-group" ng-class="myForm.anioLectivo.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon ">
								<i aria-hidden="true" data-toggle="tooltip" title="Año lectivo al cual pertenece el curso.">Año Lectivo</i>
							</span>
							<input type="number" class="form-control text-center" name="anioLectivo" placeholder="[1,2,3...]" ng-model="cursoEditando.anioLectivo" min="1" max="99" required ng-readonly="esEdicion()"/>
						</div>
					</div>

					<!-- mmestre Lectivo-->
					<div class="col-sm-4">
						<div class="input-group" ng-class="myForm.mmestreLectivo.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon ">
								<i aria-hidden="true" data-toggle="tooltip" title="Cuatrimestre lectivo al cual pertenece el curso.">Cuatrimestre Lectivo</i>
							</span>
							<input type="number" class="form-control text-center" name="mmestreLectivo" placeholder="[1,2]" ng-model="cursoEditando.nmestreLectivo" min="1" max="12" required ng-readonly="esEdicion()" />
						</div>
					</div>


					<!-- Comentario de Curso -->
					<div class="col-sm-12">
						<div class="input-group " ng-class="myForm.comentarioCurso.$valid ? 'has-success' : 'has-error' ">
							<span class="input-group-addon ">
								<i class="fa fa-comment-o" aria-hidden="true" data-toggle="tooltip" title="Observación o comentario sobre el curso." />
							</span>
							<input type="text" class="form-control" name="comentarioCurso" placeholder="[Observación/Comentario] " ng-model="cursoEditando.comentario">
						</div>
					</div>

					<div class="col-sm-8">
						<div class="col-sm-12">
							<h3>División</h3>
						</div>

						<!-- Turnos: [Mañana, Noche, Virtual] -->
						<div class="col-sm-9" ng-show="cursoEditando.modoId==='Presencial'">
							<div class="input-group " ng-class="myForm.turno.$valid ? 'has-success' : 'has-error'">
								<span class="input-group-addon" data-toggle="tooltip" title="Turno de cursada">
									<i class="fa fa-users" aria-hidden="true"></i>
								</span>
								<input type="text" ng-model="divisionEditando.turnoId" name="turno" required ng-hide="true" />
								<div class="btn-group" role="group" aria-label="...">
									<button type="button" class="btn" ng-repeat="turno in turnoLista" ng-class="divisionEditando.turnoId==='{{turno.descripcion}}' ? 'btn-info' : 'btn-default'" ng-click="setTurno($index)" ng-show="turno.mostrar" ng-disabled="esEdicion()" >{{turno.descripcion}}</button>
								</div>
							</div>
						</div>

						<!-- Division: [A,B,C...] -->
						<div class="col-sm-12">
							<div class="input-group " ng-class="myForm.division.$valid ? 'has-success' : 'has-error'">
								<span class="input-group-addon" data-toggle="tooltip" title="División de cursada">
									<i class="fa fa-users" aria-hidden="true"></i>
								</span>
								<input type="text" ng-model="divisionEditando.divisionId" name="division" required ng-hide="true" />
								<div class="btn-group" role="group" aria-label="...">
									<button type="button" class="btn" ng-repeat="division in divisionLista" ng-class="divisionEditando.divisionId==='{{division.descripcion}}' ? 'btn-info' : 'btn-default'" ng-click="setDivision($index)" ng-disabled="esEdicion()">{{division.descripcion}}</button>
								</div>
							</div>
						</div>

						<!-- Estado Division-->
						<div class="col-sm-6">
							<div class="input-group" ng-class="'has-success'">
								<span class="input-group-addon ">
										<i class="fa fa-tachometer" aria-hidden="true" data-toggle="tooltip" title="Estado." />
								</span>
								<select class="form-control" ng-options="item as item.estadoDivisionId for item in estadosDivision" ng-model="estadoDivisionSeleccionado" ng-disabled="true"></select>
							</div>
						</div>

						<!-- Comentario de División -->
						<div class="col-sm-12">
							<div class="input-group " ng-class="myForm.comentarioDivision.$valid ? 'has-success' : 'has-error' ">
								<span class="input-group-addon ">
									<i class="fa fa-comment-o" aria-hidden="true" data-toggle="tooltip" title="Observación o comentario sobre la división." />
								</span>
								
								<input type="text" class="form-control" name="comentarioDivision" placeholder="[Observación/Comentario] " ng-model="divisionEditando.comentario">
							</div>
						</div>
					</div>
					
					<div class="col-sm-4">
						<h3>Coordinación</h3>
						<span ng-repeat="dispositivo in dispositivosXCarrera">
							<span id="{{dispositivo.dispositivoId}}" droppable-area allow-droppable-area ng-dblclick="eliminarCoordinacion(dispositivo.dispositivoId)">
								<img ng-src="{{coordSeleccionado[dispositivo.dispositivoId].fotoPath}}" width="75" height="75" class="img-circle img-thumbnail" id="{{'placeHolder'+ dispositivo.dispositivoId}}" data-toggle="tooltip" title="{{dispositivo.dispositivoId}}">
							</span>
						</span>
					</div>
				</div>


				<div class="panel-footer " ng-class="myForm.$valid ? '' : 'con-error' ">
					<div class="col-sm-6 ">
						<span ng-show="!myForm.$valid || cursoEditando.mesInicio>cursoEditando.mesFinal">El formulario está incompleto o con información incorrecta.</span>
					</div>
					
					<div class="text-right">
						<button class="btn btn-primary " ng-click="promover(cursoEditando,divisionEditando) " ng-show="myForm.$valid && cursoEditando.mesInicio<=cursoEditando.mesFinal && divisionEditando.estadoDivisionId===estadoDivisionMap.Cursando" data-toggle="tooltip" title="Asignar a todos los estudiantes a un curso superior o egresarlos y cambiar el estado de la división a 'Terminado'.">Promover</button>
						<button class="btn btn-primary " ng-click="iniciar(cursoEditando,divisionEditando) " ng-show="myForm.$valid && cursoEditando.mesInicio<=cursoEditando.mesFinal && divisionEditando.estadoDivisionId===estadoDivisionMap.EnPreparacion" data-toggle="tooltip" title="Cambiar el estado de la división a estado Cursando.">Iniciar</button>
						<button class="btn btn-primary " ng-click="grabar(cursoEditando,divisionEditando) " ng-disabled="!myForm.$valid || cursoEditando.mesInicio>cursoEditando.mesFinal">{{accionLabel}}</button>
						<button class="btn btn-default " ng-click="cancelarEdicion() ">Cancelar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-5 col-xs-3" >
		<span ng-repeat="coord in coordinadores">
			<mi-coordinador-foto draggable-thing coordinador="coord"/>
		</span>
	</div>
</div>



<!-- Modal Base-->
<div class="divModalBase" ng-show="modalBaseOpen">
	<div class="col-sm-4 "></div>
	<div class="col-sm-4 " style='top: 33%'>
		<div class="panel panel-info ">
			<div class="panel-heading "><i class="fa fa-info-circle fa-lg .text-info "></i> &nbsp Ficha de División
			</div>
			<div class="panel-body ">
				{{msjModalBase}}.
			</div>
			<div class="panel-footer ">
				<div class="col-sm-9"></div>
				<button class="btn btn-primary" ng-click="closeModalBase()" autofocus>cerrar</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Promover-->
<div class="divModalBase" ng-show="modalPromoverOpen">
		<div class="col-md-3 col-xs-1"></div>
		<div class="col-md-6 col-xs-10" style='top: 10%'>
			<div class="panel panel-info ">
				<div class="panel-heading "><i class="fa fa-info-circle fa-lg .text-info "></i> &nbsp Lista de Divisiones Destino
				</div>
				<div class="panel-body ">
					<div>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>
											Año
										</th>
										<th>
											Cuatrimestre
										</th>
										<th>
											Modalidad
										</th>
										<th>
											Turno
										</th>
										<th>
											Div
										</th>
										<th>
											Coordinación
										</th>
									</tr>
								</thead>
								<tbody style="max-height: 125px">
									<tr ng-repeat="division in DivisionesDestinoPromocion" ng-class="{'selected':$index==selectedRow}" ng-click="setClickedRow($index)" ng-style="{'background-color':($index==selectedRow ? 'yellow':'')}">
										<td vertical-align="middle">
											{{division.curso.anioInicio}}
											<br> {{ordinales[division.curso.anioLectivo-1]}} año.
										</td>
										<td vertical-align="middle">
											{{meses[division.curso.mesInicio-1]}}-{{meses[division.curso.mesFinal-1]}}
											<br> {{ordinales[division.curso.nmestreLectivo-1]}} Cuatrimestre.
										</td>
										<td vertical-align="middle">
											{{division.modoId}}
											<i class="fa fa-comment-o" aria-hidden="true" data-toggle="tooltip" title="{{division.curso.comentario}}" ng-show="{{division.curso.comentario!=null && division.curso.comentario!=''}}" />
										</td>
										<td vertical-align="middle">
											{{division.turnoId !== 'Virtual' ? division.turnoId : null}}
										</td>
										<td data-toggle="tooltip" title="{{division.comentario}}">
											{{division.divisionId}}
											<i class="fa fa-comment-o" aria-hidden="true"  data-toggle="tooltip" title="{{division.comentario}}" ng-show="{{division.comentario!=null && division.comentario!=''}}" />
										</td>
										<td>
											<div class="media">
												<div class="row">
													<div class="col-md-6 col-xs-6" ng-repeat="coordinacion in coordinaciones | filter:filtroDivision(division) | orderBy:'dispositivoId'">
														<img class="media-object img-circle" class="" width="33" height="33" ng-src="{{coordinacion.coordinador.fotoPath}}" alt="{{coordinacion.coordinador.nombre}}" data-toogle="tooltip" title="{{coordinacion.dispositivoId + ': ' + coordinacion.coordinador.nombre}}">
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

				</div>
				<div class="panel-footer ">
					<div class="col-md-6 col-xs-3"></div>
					<div class="text-right">
						<button class="btn btn-warning" ng-click="egresar(cursoEditando,divisionEditando)" ng-show="(selectedRow === null)">Egresar</button>
						<button class="btn btn-primary" ng-click="promoverPP(cursoEditando,divisionEditando)" ng-show="(selectedRow !== null)">Promover</button>
						<button class="btn btn-default" ng-click="closeModalPromover() ">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</div>