<div class="divSpinner" ng-show="actualizando || cargando">
	<div class="spinner"></div>
</div>
<div class="alert alert-danger" ng-show="error.hayError">
	<p ng-repeat="error in error.errores">
		<strong>{{error.codigo}}:</strong><em>&nbsp;{{error.mensaje}}</em>
	</p>
</div>
<div ng-show="!GetOK">
	<div class="alert alert-warning" ng-show="!cargando">
		Los eventos no fueron obtenidos, intente nuevamente.
	</div>
</div>
<div ng-show="!cargando">
	<div class="col-md-5" ng-show="GetOK || cargando">
		<h2>
			Eventos&nbsp;
			<span class="badge">{{eventos.length}}</span>
			<i class="fa fa-plus-circle text-primary" aria-hidden="true" ng-click="irACrearEvento()" role="button" data-toggle="tooltip" title="Dar de alta un nuevo evento."></i>
		</h2>
		<div class="box-round">
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
				<input class="form-control" type="text" ng-model="eventosFiltro" ng-change=reseleccionar(eventosFiltro)>
			</div>
		</div>
		<div style="max-height: 425px; overflow-y: auto;  overflow-x: auto;">
			<table class="table table-hover">
				<theader>
					<tr>
						<th>Título</th>
						<th class="text-center">Fecha</th>
						<th>
							<i class="fa fa-users" aria-hidden="true"></i>&thinsp;/
							<i class="fa fa-desktop" aria-hidden="true"></i>
						</th>
						<th>Lugar</th>
					</tr>
				</theader>
				<tbody>
					<tr ng-repeat="evento in eventosFiltradosYOrdenados " ng-class="{'selected':$index==selectedRow, 'danger':evento.estadoFecha < 0 , 'success': evento.estadoFecha > 0, 'warning':evento.estadoFecha === 0 }" ng-click="setClickedRow($index);cargarEvento(evento)">
						<td>{{evento.titulo}}</td>
						<td class="text-right">{{evento.fecha | date:'dd/MM/yyyy'}}</td>
						<td class="text-center">
							<i class="fa fa-desktop" aria-hidden="true" ng-show="evento.tipoId===2"></i>
							<i class="fa fa-users" aria-hidden="true" ng-show="evento.tipoId===1"></i>
						</td>
						<td>{{evento.lugar.nombre}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="col-md-6">
					<h4>{{eventoSeleccionado.titulo}}</h4>
				</div>
				<div class="col-md-6">
					<h4 class="text-right">
						{{eventoSeleccionado.fecha | date:'dd/MM/yyyy' }}
						<i class="fa fa-desktop" aria-hidden="true" ng-show="eventoSeleccionado.tipoId===2"></i>
						<i class="fa fa-users" aria-hidden="true" ng-show="eventoSeleccionado.tipoId===1"></i>
					</h4>
				</div>
				<p class="text-right">&nbsp</p>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<span class="glyphicon glyphicon-home" aria-hidden="true" />&nbsp{{eventoSeleccionado.lugar.nombre}}
				</div>
			</div>
			<div class="panel-footer text-right">
				<button class="btn btn-danger" ng-click="irAEliminarEvento(eventoSeleccionado)">Eliminar</button>
				<button class="btn btn-primary" ng-click="irAEdicionEvento(eventoSeleccionado)">Editar</button>
			</div>
		</div>

		<div class="alert alert-warning alert-dismissible divzindexBase" role="alert" ng-class="alertClass" >
			<button type="button" class="close" ng-click="closeAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Cuidado!</strong>No se puede cambiar la asistencia, pasado los 7 días del evento.
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Invitados</div>
			<div style="max-height: 280px; overflow-y: auto;  overflow-x: auto;">
				<table class="table table-striped table-hover table-condensed">
					<theader>
						<tr>
							<th class="col-md-4"><i class="fa fa-flag" aria-hidden="true"></i>&nbspNombre</th>
							<th class="col-md-6">Observación</th>
							<th class="col-md-1"><i class="fa fa-trash-o" aria-hidden="true"></i></th>
							<th class="col-md-1"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></th>
						</tr>
					</theader>
					<tbody>
						<tr ng-repeat="interesadoEvento in interesadosEventos | orderBy:'interesado.apellido'">
							<td><i class="fa fa-flag banderin-danger" aria-hidden="true" ng-show="interesadoEvento.interesado.seguimiento"></i>&nbsp{{interesadoEvento.interesado.apellido}},&nbsp;{{interesadoEvento.interesado.nombre}}</td>
							<td>{{interesadoEvento.observacion}}</td>
							<td><i class="fa fa-trash-o icon-danger icon-pointer" aria-hidden="true" ng-click="irAEliminarInteresadoEvento(interesadoEvento)" ng-hide="(eventoSeleccionado.estadoFecha<0) || interesadoEvento.asistente"></i></td>
							<td><i class="icon-primary icon-pointer" aria-hidden="true" ng-class="interesadoEvento.asistente ? 'fa fa-calendar-check-o' : 'fa fa-calendar-o '" ng-click="irASwapAsistenteInteresadoEvento(interesadoEvento,eventoSeleccionado.estadoFecha)" ng-show="eventoSeleccionado.estadoFecha<=0" </i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>