<div class="divSpinner" ng-show="cargando">
	<div class="spinner" />
</div>
<div class="container">
	<div class="row">
		<div class="alert alert-warning" ng-show="!cargando && error.hayError">
			Los integrantes del grupo no fueron obtenidos, intente nuevamente.
		</div>
	</div>
	<div class="row">
		<div class="alert alert-danger" ng-show="error.hayError">
			<p ng-repeat="error in error.errores">
				<strong>{{error.codigo}}:</strong>
				<em>&nbsp;{{error.mensaje}}</em>
			</p>
		</div>
	</div>
</div>
<div ng-show="!cargando" class="container">
	<div class="hidden-print">
		<table class="table table-striped" style="width: 210mm">
			<tbody>
				<tr>
					<td vertical-align="middle">
						{{grupoEditando.curso.anioInicio}}
						<br> {{ordinales[grupoEditando.curso.anioLectivo-1]}} año.
					</td>
					<td vertical-align="middle">
						{{meses[grupoEditando.curso.mesInicio-1]}}-{{meses[grupoEditando.curso.mesFinal-1]}}
						<br> {{ordinales[grupoEditando.curso.nmestreLectivo-1]}} Cuatrimestre.
					</td>
					<td vertical-align="middle text-uppercase">
						{{grupoEditando.modoId}}
					</td>
					<td vertical-align="middle text-uppercase">
						{{grupoEditando.turnoId !== 'Virtual' ? grupoEditando.turnoId : null}}
					</td>
					<td>
						{{grupoEditando.divisionId}}
					</td>
					<td>
						<div class="media">
							<div class="row">
								<div class="col-md-6" ng-repeat="coordinacion in coordinaciones | filter:filtroDivision(grupoEditando)">
									<img class="media-object img-circle" width="33" height="33" ng-src="{{coordinacion.coordinador.fotoPath}}" alt="{{coordinacion.coordinador.nombre}}" onerror="this.onerror=null;this.src='img/Persona.png';" data-toogle="tooltip" title="{{coordinacion.coordinador.nombre}}" ng-click="setProfesora(coordinacion.coordinador.nombre)">
								</div>
							</div>
						</div>
					</td>
					<td class="text-right">
						<span class="badge">{{grupoSeleccionado.length}}</span>
					</td>
				</tr>
				<tr>
					<td colspan="7">
						<nav aria-label="Page navigation">
							<ul class="pagination pagination-sm">
								<li ng-repeat="pagina in paginas" ng-class="(paginaActiva==={{pagina}}) ? 'active' : ''">
									<span ng-click=setPaginaActiva(pagina)>{{pagina+1}}</span>
								</li>
							</ul>
						</nav>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="A4"> 
			<div ng-repeat="pagina in paginas" class="col-xs-12 sheet" ng-show="paginaActiva==={{pagina}}">
				<!-- encabezado -->
				<div class="col-xs-12">
					<div class="col-xs-12">
						<div class="col-xs-4">
						</div>
						<div class="col-xs-2 text-center">
							<div>Libro:........</div>
							<div></div>
						</div>
						<div class="col-xs-2 text-center">
							<div>Folio:........</div>
							<div></div>
						</div>
					</div>
					<div>
						<div class="col-xs-12 text-center border">
							ACTA VOLANTE DE EXÁMENES
						</div>
					</div>
					<div>
						<div class="col-xs-12 text-center">
							ESCUELA DE PSICOLOGÍA SOCIAL DEL SUR (A-1389)
						</div>
					</div>
					<div>
						<div class="col-xs-6">
							Exámenes de Alumnos Regulares
						</div>
						<div class="col-xs-6">
							FECHA: ____/____/________
						</div>
					</div>
					<div>
						<div class="col-xs-4 text-center">AÑO:&nbsp{{ordinales[grupoEditando.curso.anioLectivo-1]}}</div>
						<div class="col-xs-4 text-center">DIV:&nbsp{{grupoEditando.divisionId}}</div>
						<div class="col-xs-2 text-center">{{ordinales[grupoEditando.curso.nmestreLectivo-1]}} Cuat.</div>
						<div class="col-xs-2 text-right text-uppercase">{{grupoEditando.modoId}}</div>
					</div>
					<div>
						<div class="col-xs-3">ASIGNATURA:</div>
						<div class="col-xs-6"></div>
						<div class="col-xs-3 text-right text-uppercase">{{grupoEditando.turnoId !== 'Virtual' ? 'Turno ' + grupoEditando.turnoId : null}}</div>
					</div>
					<div>
						<div class="col-xs-12">Profesora:&nbsp{{profesora}}</div>
					</div>
				</div>
				<!-- Cuerpo -->
				<div class="col-xs-12">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr>
								<th class="text-center">N°</th>
								<th class="text-center">L</th>
								<th class="text-center">F</th>
								<th class="text-center">D.N.I</th>
								<th class="text-center">APELLIDOS Y NOMBRES</th>
								<th colspan=3 class="text-center">CALIFICACIONES</th>
							</tr>
							<tr>
								<th colspan=3></th>
								<th class="text-center">N°</th>
								<th class="text-center">del ALUMNO</th>
								<th class="text-center">ESCR</th>
								<th class="text-center">ORAL</th>
								<th class="text-center">PROM</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="grupo in grupoSeleccionado.slice(pagina*lineasXPagina, ((pagina+1)*lineasXPagina))">
								<td class="text-right">
									{{$index+(pagina*lineasXPagina)+1}}
								</td>
								<td>
								</td>
								<td>
								</td>
								<td class="text-right">
									{{grupo.legajo.dni | number}}
								</td>
								<td>
									{{grupo.legajo.alumno.apellido}},&nbsp{{grupo.legajo.alumno.nombre}}
								</td>
								<td>
								</td>
								<td>
								</td>
								<td>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- Pie -->
				<div class="col-xs-12">
					<div class="col-xs-12 row">
						<div class="col-xs-5">Presidente:
							<strong>&nbsp{{profesora}}</strong>
						</div>
						<div class="col-xs-4">Vocal:&nbsp..................................</div>
						<div class="col-xs-3">Vocal:&nbsp...............................</div>
					</div>
					<div class="col-xs-12 row">
						<div class="col-xs-4">Alumnos Inscriptos:
							<strong>&nbsp{{grupoSeleccionado.length}}</strong>
						</div>
						<div class="col-xs-2">Aprobados:...........</div>
						<div class="col-xs-3">Desaprobados:...........</div>
						<div class="col-xs-3">Ausentes:...........</div>
					</div>
					<div class="col-xs-12 row">
						<div class="text-center">C.A.B.A,.......... de ....................................... de {{hoy | date:'yyyy'}}</div>
					</div>
				</div>
			</div>
		</div>
</div>