<div class="divSpinner" ng-show="cargando">
	<div class="spinner" />
</div>
<div class="container">
	<div class="row">
		<div class="alert alert-warning" ng-show="!cargando && !GetOK">
			El interesado no fueron obtenido, intente nuevamente.
		</div>
		<div class="alert alert-danger" ng-show="error.hayError">
			<p ng-repeat="error in error.errores">
				<strong>{{error.codigo}}:</strong>
				<em>&nbsp;{{error.mensaje}}</em>
			</p>
		</div>
	</div>
</div>
<form novalidate name="myForm" class="css-form" autocomplete="off">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Ficha de Inscripción
				<p class="text-right">
					<!--{{obtenerAnioCursado(interesadoSeleccionadoCursoActivo.promocionId)}},&nbsp{{obtenerCuatrimestreCursado(interesadoSeleccionadoCursoActivo.cuatrimestreId)}},&nbsp{{interesadoSeleccionadoCursoActivo.modoId}},&nbsp{{interesadoSeleccionadoCursoActivo.turnoId}} -->&nbsp&nbsp&nbsp
				</p>
			</div>
			<div class="panel-body no-gutter">
				<div class="col-md-6">
					<div class="input-group" ng-class="myForm.apellido.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon" for="apellido">Apellido</span>
						<input id="apellido" type="text" class="form-control" name="apellido" required placeholder="[Apellido(s)]" ng-model="interesadoSeleccionado.apellido">
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group" ng-class="myForm.nombre.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon">Nombre</span>
						<input id="nombre" type="text" class="form-control" name="nombre" required placeholder="[nombre(s)]" ng-model="interesadoSeleccionado.nombre">
					</div>
				</div>

				<div class="col-md-3">
					<div class="input-group" ng-class="myForm.dni.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon">
							<i class="fa fa-id-card" aria-hidden="true" data-toggle="tooltip" data-original-title="Nro de DNI"></i>
						</span>
						<input id="dni" type="text" class="form-control" name="dni" required placeholder="[Nro. DNI]" ng-model="interesadoSeleccionado.dni" autofocus pattern="^\d{1,8}$">
					</div>
				</div>

				<div class="col-md-5">
					<div class="input-group" ng-class="'has-success'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Modalidad">Modalidad</span>
						<select class="form-control" ng-options="item as item.descripcion for item in modalidades" ng-model="modalidad"></select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="input-group" ng-hide="modalidad.id!==1" ng-class="myForm.turno.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Turno (solo para presencial)">Turno</span>
						<select class="form-control" ng-required="modalidad.id===1" name="turno" ng-options="item as item.descripcion for item in turnos" ng-model="turno"></select>
					</div>
				</div>



				<div class="col-md-6">
					<div class="input-group" ng-class="'has-success'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Año A Cursar">Año</span>
						<select class="form-control" ng-options="item as item.descripcion for item in anios" ng-model="anio"></select>
					</div>
				</div>

				<div class="col-md-6">
					<div class="input-group" ng-class="'has-success'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Cuatrimestre a cursar" required>Cuatrimestre</span>
						<select class="form-control" ng-options="item as item.descripcion for item in nmestres" ng-model="nmestre"></select>
					</div>
				</div>

				<div class="col-md-12">
					<div class="input-group" ng-class="myForm.email.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-send" data-toggle="tooltip" data-original-title="1er E-Mail"></span>
						</span>
						<input id="email" type="text" class="form-control" name="email" placeholder="[1er Email]" ng-model="interesadoSeleccionado.mail" pattern="^(?:(?:[\w`~!#$%^&*\-=+;:{}&apos;|,?\/]+(?:(?:\.(?:&quot;(?:\\?[\w`~!#$%^&*\-=+;:{}&apos;|,?\/\.()<>\[\] @]|\\&quot;|\\\\)*&quot;|[\w`~!#$%^&*\-=+;:{}&apos;|,?\/]+))*\.[\w`~!#$%^&*\-=+;:{}&apos;|,?\/]+)?)|(?:&quot;(?:\\?[\w`~!#$%^&*\-=+;:{}&apos;|,?\/\.()<>\[\] @]|\\&quot;|\\\\)+&quot;))@(?:[a-zA-Z\d\-]+(?:\.[a-zA-Z\d\-]+)*|\[\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\])$">
					</div>
				</div>

				<div class="col-md-12">
					<div class="input-group" ng-class="myForm.email2.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon">
							<span class="fa fa-check-circle-o" data-toggle="tooltip" data-original-title="Estado de envío de e-mail de Bienvenida"></span>
						</span>
						<input id="email2" type="text" class="form-control" name="email2" ng-model="interesadoSeleccionado.mail2" ng-readonly="true">
					</div>
				</div>

				<div class="col-md-6">
					<div class="input-group" ng-class="myForm.telefono.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-earphone" data-toggle="tooltip" data-original-title="N° de teléfono fijo"></span>
						</span>
						<input id="telefono" type="text" class="form-control" name="telefono" placeholder="[N° de teléfono fijo]" ng-model="interesadoSeleccionado.telefono" pattern="^0{0,1}[123456789]\d{9}$|^[123456789]\d{7}$|^0{0,1}[123456789]\d-\d{4}-\d{4}$|^[123456789]\d{3}-\d{4}$|^0{0,1}[123456789]\d{2}-\d{3}-\d{4}$">
					</div>
				</div>

				<div class="col-md-6">
					<div class="input-group" ng-class="myForm.celular.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-phone" data-toggle="tooltip" data-original-title="N° de teléfono celular"></span>
						</span>
						<input id="celular" type="text" class="form-control" name="celular" placeholder="[N° de teléfono celular]" ng-model="interesadoSeleccionado.celular" pattern="^549[123456789]\d{9}$">
					</div>
				</div>

				<div class="col-md-12">
					<div class="input-group" ng-class="myForm.calle.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-home" data-toggle="tooltip" data-original-title="Domicilio declarado"></span>
						</span>
						<input id="calle" type="text" class="form-control" name="calle" placeholder="[Domicilio]" ng-model="interesadoSeleccionado.domicilio" ng-required="modalidad.id===2">
					</div>
				</div>

				<div class="col-md-2">
					<div class="input-group" ng-class="'has-success'">
						<!--<input type="text"  class="form-control checkbox-title-has-success" ng-readonly="true" value="Titulo" data-toggle="tooltip" data-original-title="¿Entrega fotocopia de título secundario?" >-->
						<span class="input-group-addon">
							<i class="fa fa-graduation-cap" aria-hidden="true" data-toggle="tooltip" data-original-title="¿Entrega fotocopia de título secundario?"></i>
						</span>
						<span class="input-group-addon">
							<input type="checkbox" aria-label="..." ng-model="docAPresentar.docTitulo">
						</span>
					</div>
				</div>

				<div class="col-md-2">
					<div class="input-group" ng-class="'has-success'">
						<!--<input type="text" class="form-control checkbox-title-has-success"  ng-readonly="true" value="DNI" data-toggle="tooltip" data-original-title="¿Entrega fotocopia de DNI?" >-->
						<span class="input-group-addon">
							<i class="fa fa-id-card-o" aria-hidden="true" data-toggle="tooltip" data-original-title="¿Entrega fotocopia de DNI?"></i>
						</span>
						<span class="input-group-addon">
							<input type="checkbox" aria-label="..." ng-model="docAPresentar.docDni">
						</span>
					</div>
				</div>

				<div class="col-md-2">
					<div class="input-group" ng-class="'has-success'">
						<!--<input type="text" class="form-control checkbox-title-has-success"  ng-readonly="true" value="Apto Físico" data-toggle="tooltip" data-original-title="¿Entrega apto físico?" >-->
						<span class="input-group-addon">
							<i class="fa fa-heartbeat" aria-hidden="true" data-toggle="tooltip" data-original-title="¿Entrega apto físico?"></i>
						</span>
						<span class="input-group-addon">
							<input type="checkbox" aria-label="..." ng-model="docAPresentar.docAptoFisico">
						</span>
					</div>
				</div>

				<div class="col-md-2">
					<div class="input-group" ng-class="'has-success'">
						<!--<input type="text" class="form-control checkbox-title-has-success"  ng-readonly="true" value="Foto" data-toggle="tooltip" data-original-title="¿Entrega foto de perfil?" >-->
						<span class="input-group-addon">
							<i class="fa fa-camera" aria-hidden="true" data-toggle="tooltip" data-original-title="¿Entrega foto de perfil?"></i>
						</span>
						<span class="input-group-addon">
							<input type="checkbox" aria-label="..." ng-model="docAPresentar.docFoto">
						</span>
					</div>
				</div>

				<div class="col-md-2">
					<div class="input-group" ng-class="'has-success'">
						<!--<input type="text" class="form-control checkbox-title-has-success"  ng-readonly="true" value="Compromiso" data-toggle="tooltip" data-original-title="¿Firmó el acta de compromiso?" >-->
						<span class="input-group-addon">
							<i class="fa fa-handshake-o" aria-hidden="true" data-toggle="tooltip" data-original-title="¿Firmó el acta de compromiso?"></i>
						</span>
						<span class="input-group-addon">
							<input type="checkbox" aria-label="..." ng-model="docAPresentar.docCompromiso">
						</span>
					</div>
				</div>

				<div class="col-md-2">
					<div class="input-group">
						<span class="input-group-addon"></span>
						<span class="input-group-addon">
							<label>&nbsp</label>
						</span>
					</div>
				</div>

				<div class="col-md-12">
					<div class="input-group" ng-class="myForm.comentarios.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon">
							<!-- <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-original-title="Comentarios" /> -->
							<i class="fa fa-comment-o" aria-hidden="true" data-toggle="tooltip" data-original-title="Comentarios" />
						</span>
						<textarea id="comentarios" rows="1" class="form-control" name="comentarios" placeholder="[Comentarios]" ng-model="interesadoSeleccionado.comentario"></textarea>
					</div>
				</div>



			</div>

			<div class="panel-footer " ng-class="myForm.$valid ? '' : 'con-error'">
				<div class="col-md-8">
					<span ng-show="!myForm.$valid">El formulario está incompleto o con información incorrecta.
						<span>
				</div>
				<div class="text-right">
					<button class="btn btn-primary" ng-click="inscribir(interesadoSeleccionado)" ng-disabled="!myForm.$valid">{{accionLabel}}</button>
					<button class="btn btn-default" ng-click="cancelarEdicion()">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</form>


<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			Datos Adicionales
			<p class="text-right">
				&nbsp&nbsp&nbsp
			</p>
		</div>
		<div class="panel-body no-gutter">
			<div class="col-md-12">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="fa fa-university fa-fw" data-toggle="tooltip" data-original-title="Carrera a cursar" /></span>
						<input type="text" class="form-control" ng-value="interesadoSeleccionado.carrera.descripcion" ng-readonly="true" placeholder="[Sin datos]">
					
				</div>
			</div>
			<div class="col-md-12">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-bell" data-toggle="tooltip" data-original-title="Situación Especial" /></span>
					<textarea class="form-control" ng-value="interesadoSeleccionado.situacionEspecial" ng-readonly="true" placeholder="[Sin datos]"></textarea>
				</div>
			</div>
			<div class="col-md-12">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-original-title="Situación de Inscripción" /></span>
					<textarea type="text" class="form-control" ng-value="interesadoSeleccionado.situacionInscripcion" ng-readonly="true" placeholder="[Sin datos]"></textarea>
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-original-title="¿Como conoció?" /></span>
					<input type="text" class="form-control" ng-value="interesadoSeleccionado.comoConocio" ng-readonly="true" placeholder="[Sin datos]">
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						<i class="fa fa-handshake-o" aria-hidden="true" data-toggle="tooltip" data-original-title="Medio de contacto para el registro como interesado"></i>
					</span>
					<input type="text" class="form-control" ng-value="interesadoSeleccionado.medioDeContacto.nombre" ng-readonly="true" placeholder="[Sin datos]">
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-globe" data-toggle="tooltip" data-original-title="Provincia" /></span>
					<input type="text" class="form-control" ng-value="interesadoSeleccionado.provincia" ng-readonly="true">
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-sort" data-toggle="tooltip" data-original-title="Grado de interés" /></span>
					<input type="text" class="form-control" ng-value="interesadoSeleccionado.gradoInteres" ng-readonly="true">
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-original-title="Fecha de consulta inicial" /></span>
					<input type="text" class="form-control" ng-value="(interesadoSeleccionado.fechaInteresadoOriginal | date:'dd/MM/yyyy')" ng-readonly="true">
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-original-title="Fecha de inscripción" /></span>
					<input type="text" class="form-control" ng-value="(interesadoSeleccionado.fechaInteresado | date:'dd/MM/yyyy')" ng-readonly="true">
				</div>
			</div>
		</div>
		<div class="panel-footer">
		</div>
	</div>
</div>





<!-- Modal -->
<div class="divModalBase" ng-show="modalOpen">
	<div class="col-md-4"></div>
	<div class="col-md-4" style='top: 33%'>
		<div class="panel panel-info">
			<div class="panel-heading">
				<i class="fa fa-info-circle fa-lg .text-info"></i> &nbsp Ficha de Inscripción
			</div>
			<div class="panel-body">
				{{msjModal}}.
			</div>
			<div class="panel-footer">
				<div class="col-md-9"></div>
				<button class="btn btn-primary" ng-click="closeModal()">cerrar</button>
			</div>
		</div>
	</div>
</div>