<div class="container" ng-style="myStyle">
  <div class="col-md-6">
    <div class="col-md-6">
      <h2>Inscriptos</h2>
    </div>
    <div class="col-md-6">
      <input type="text" ng-model="inscriptosFiltro">
    </div>
    <form novalidate name="myForm" class="css-form col-md-12">
      <div class="col-md-6">
        <button class="btn btn-primary" ng-click="ActualizarInscriptos(inscriptos)" ng-disabled="!myForm.$valid || actualizando || cargando">Crear Legajos</button>
      </div>
      <div class="spinner col-md-6" ng-show="actualizando || cargando" />
      <div style="max-height: 450px; overflow-y: auto;" class="col-md-12">
        <table class="table table-striped" ng-show="GetOK">
          <theader>
            <tr>
              <th>
                Nombre
              </th>
              <th>
                Apellido
              </th>
              <th>
                DNI
              </th>
              <th>
                Legajo
              </th>
            </tr>
          </theader>
          <tbody>
            <tr ng-repeat="inscripto in inscriptos | filter:inscriptosFiltro">
              <td>
                {{inscripto.nombre}}
              </td>
              <td>
                {{inscripto.apellido}}
              </td>
              <td>
                {{inscripto.dni}}
              </td>
              <td>
                <input id="LegajoNro" type="text" class="form-control text-right" name="LegajoNro" placeholder="[legajo]" ng-model="inscripto.legajoNro">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>

<div class="alert alert-warning" ng-show="!cargando && !GetOK">
  Los inscriptos no fueron obtenidos, intente nuevamente.
</div>