<div class="divSpinner" ng-show="cargando">
  <div class="spinner" />
</div>
<div class="alert alert-danger" ng-show="error.hayError">
  <p ng-repeat="error in error.errores">
    <strong>{{error.codigo}}:</strong><em>&nbsp;{{error.mensaje}}</em>
  </p>
</div>
<div ng-show="!GetOK">
  <div class="alert alert-warning" ng-show="!cargando">
    Los interesados no fueron obtenidos, intente nuevamente.
  </div>
</div>

<div ng-show="!cargando">
  <div class="col-md-5" ng-show="GetOK || cargando">
    <h2>Interesados&nbsp;
      <span class="badge">{{interesados.length}}</span>
      <i class="fa fa-plus-circle text-primary" aria-hidden="true" ng-click="irAcrearInteresado()" role="button" data-toggle="tooltip" title="Dar de alta un nuevo interesado."></i>
    </h2>
    <div class="box-round">
      <div class="col-md-6">
        <div id="dtFechaFin" class="input-group date">
          <!--<span class="input-group-addon"><span class="glyphicon glyphicon-menu-left" ></span></span>-->
          <input class="form-control" type="text" readonly id="FechaFNI" ng-model="fechaFIN" ng-change="actualizarInteresados(fechaFIN)">
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          <!--<span class="input-group-addon"><span class="glyphicon glyphicon-menu-right"></span></span>-->
        </div>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
        <input class="form-control" type="text" ng-model="interesadosFiltro" ng-change=reseleccionar(interesadosFiltro)>
      </div>
    </div>


    <script type="text/javascript">
      // $('#dtFechaIni').datetimepicker({
      //   language: 'es',
      //   todayBtn: 'linked',
      //   autoclose: true,
      //   todayHighlight: true,
      //   startView: 'month',
      //   forceParse: false,
      //   format: 'dd/mm/yyyy',
      //   minView: 'month'
      // });
      $('#dtFechaFin').datetimepicker({
        language: 'es',
        todayBtn: 'linked',
        autoclose: true,
        todayHighlight: true,
        startView: 'month',
        forceParse: false,
        format: 'dd/mm/yyyy',
        minView: 'month'
      })
    </script>


    <div style="max-height: 425px; overflow-y: auto;  overflow-x: auto;">
      <table class="table table-striped table-condensed table-hover">
        <theader>
          <tr>
            <th class="col-md-8">Nombre</th>
            <th class="col-md-3">Fecha</th>
            <th class="col-md-1"><i class="fa fa-flag" aria-hidden="true"></i></th>
          </tr>
        </theader>
        <tbody>
          <tr ng-repeat="interesado in interesados | filter:interesadosFiltro | orderBy:'fechaInteresado':true" ng-class="{'selected':$index==selectedRow}" ng-click="setClickedRow($index);cargarInteresado(interesado)">
            <td>{{interesado.apellido}},&nbsp;{{interesado.nombre}}</td>
            <td>{{interesado.fechaInteresado | date:'dd/MM/yyyy'}}</td>
            <td><i class="fa fa-flag banderin-danger" aria-hidden="true" ng-show="interesado.seguimiento"></i></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>{{interesadoSeleccionado.apellido}},&nbsp{{interesadoSeleccionado.nombre}}</h4>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-condensed">
          <tbody>
            <tr>
              <td class="col-md-5">
                <span class="glyphicon glyphicon-send" aria-hidden="true" data-toggle="tooltip" title="E-Mail" />&nbsp{{interesadoSeleccionado.mail}}
              </td>
              <td class="col-md-3">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true" data-toggle="tooltip" title="N° de teléfono fijo (xx-xxxx-xxxx) o celular (xx-15-xxxx-xxxx)" />&nbsp{{interesadoSeleccionado.telefono}}&nbsp{{interesadoSeleccionado.celular}}
              </td>
              <td class="col-md-4">
                <span class="glyphicon glyphicon-registration-mark" aria-hidden="true" data-toggle="tooltip" title="Modalidad de cursada" />&nbsp{{interesadoSeleccionado.modalidad.nombre}}{{interesadoSeleccionado.modalidadId===1 && interesadoSeleccionado.turno!==null ? ',&nbsp'.concat(interesadoSeleccionado.turno) : null }}
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon glyphicon-sort" aria-hidden="true" data-toggle="tooltip" title="Grado de interés" />&nbsp{{interesadoSeleccionado.gradoInteres}}
              </td>
              <td>
                <i class="fa fa-calendar fa-fw" aria-hidden="true" data-toggle="tooltip" title="Año de inscripción"></i>&nbsp{{interesadoSeleccionado.anioAcursar}}{{interesadoSeleccionado.anioAcursar!==2 ? 'er' : 'do'}}&nbspAño.
              </td>
              <td>
                <i class="fa fa-calendar fa-fw" aria-hidden="true" data-toggle="tooltip" title="Cuatrimestre de inscripción"></i>&nbsp{{interesadoSeleccionado.nmestreAcursar}}{{interesadoSeleccionado.nmestreAcursar===1 ? 'er' : 'do'}}&nbspCuatrimestre.
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip " title="¿Como conoció a la Escuela?" />&nbsp{{interesadoSeleccionado.comoConocio}}
              </td>
              <td>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Situación Particular" />&nbsp{{interesadoSeleccionado.situacionInscripcion}}
              </td>
              <td>
                <span class="glyphicon glyphicon-bell" aria-hidden="true" data-toggle="tooltip" title="Situación Especial" />&nbsp{{interesadoSeleccionado.situacionEspecial}}
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" title="Comentarios" />&nbsp{{interesadoSeleccionado.comentario}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <div class="col-md-4">
          Interesado el:&nbsp{{interesadoSeleccionado.fechaInteresado | date:'dd/MM/yyyy'}}
          <i class="fa fa-flag banderin-danger" aria-hidden="true" ng-show="interesadoSeleccionado.seguimiento"></i>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" ng-click="irAEdicionInteresado(interesadoSeleccionado)">Edición</button>
          <button class="btn btn-primary" ng-click="irAinscripcion(interesadoSeleccionado)">Inscripción</button>
        </div>
      </div>
    </div>

    <div class="panel panel-default small">
      <div class="panel-heading">
        <span ng-show="!altaEvento">
          Eventos
          <i class="fa fa-plus-circle text-primary" aria-hidden="true" ng-click="irAMostrarEventoFuturos()" role="button" data-toggle="tooltip" title="Dar de alta a un interesado en un evento."></i>
        </span>
        <span ng-show="altaEvento">
          Elegir Evento
          <i class="fa fa-minus-circle text-primary" aria-hidden="true" ng-click="altaEvento=false" role="button" data-toggle="tooltip" title="Dar de alta a un interesado en un evento."></i>
        </span>
      </div>
      <div style="max-height: 140px; overflow-y: auto;  overflow-x: auto;">
        <!--Tabla de Eventos Asignados-->
        <table class="table table-striped table-hover table-condensed" ng-show="!altaEvento">
          <tbody>
            <tr ng-repeat="interesadoEvento in interesadosEventos | orderBy:'evento.fecha':true">
              <td class="col-md-1">{{interesadoEvento.evento.fecha | date:'dd/MM/yyyy'}}</td>
              <td>{{interesadoEvento.evento.titulo}}</td>
              <td><i class="fa  fa-pencil icon-primary icon-pointer" aria-hidden="true" ng-hide="interesadoEvento.asistente" ng-click="showModal(interesadoEvento)"></i>&nbsp{{interesadoEvento.observacion}}</td>
              <td><i class="fa fa-calendar-check-o" aria-hidden="true" ng-show="interesadoEvento.asistente"></i></td>
            </tr>
          </tbody>
        </table>

        <!--Tabla de Eventos A Asignar-->
        <table class="table table-striped table-hover table-condensed" ng-show="altaEvento">
          <tbody>
            <tr ng-repeat="evento in eventosFuturos | orderBy:'fecha'">
              <td>{{evento.titulo}}</td>
              <td>{{evento.fecha | date:'dd/MM/yyyy'}}</td>
              <td><i class="fa fa-plus-circle text-primary" aria-hidden="true" ng-click="irAAgregarInteresadoEvento(evento,interesadoSeleccionado)" role="button" data-toggle="tooltip" title="Agregar al interesado al evento."></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>



<!-- Modal -->
<div class="divModalBase " ng-show="modalOpen ">
  <div class="col-md-3 "></div>
  <div class="col-md-6 " style='top: 33%'>
    <div class="panel panel-info ">
      <div class="panel-heading "><i class="fa fa-info-circle fa-lg .text-info "></i><em>&nbsp{{interesadoSeleccionado.nombre}}&nbsp{{interesadoSeleccionado.apellido}} invitado al evento {{interesadoEventoEditando.evento.titulo}} el día {{interesadoEventoEditando.evento.fecha | date:'dd/MM/yyyy'}}</em> 
      </div>
      <div class="panel-body">

        <form novalidate name="myForm" class="css-form" autocomplete="off">
          <div class="input-group" ng-class="'has-success'">
            <span class="input-group-addon" data-toggle="tooltip" title="Observación de la invitación">Observación</span>
            <input type="text" class="form-control" name="observacion" ng-model="interesadoEventoEditando.observacion">
          </div>
        </form>

      </div>
      <div class="panel-footer ">
        <div class="text-right">
          <button class="btn btn-default" ng-click="closeModal()" autofocus>Cancelar</button>
          <button class="btn btn-primary" ng-click="actualizarObservacion(interesadoEventoEditando)" autofocus>Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</div>