<div class="divSpinner" ng-show="cargando">
	<div class="spinner" />
</div>
<div class="alert alert-danger" ng-show="error.hayError">
	<p ng-repeat="error in error.errores">
		<strong>{{error.codigo}}:</strong><em>&nbsp;{{error.mensaje}}</em>
	</p>
</div>
<div ng-show="!GetOK">
	<div class="alert alert-warning" ng-show="!cargando">
		Los interesados no fueron obtenidos, intente nuevamente.
	</div>
</div>

<div ng-show="!cargando">
	<div class="col-md-5" ng-show="GetOK || cargando">
		<h2>Interesados&nbsp;
			<span class="badge">{{interesadosFiltradosYOrdenados.length}}</span>/
			<span class="badge">{{interesados.length}}</span>
			<i class="fa fa-plus-circle text-primary" aria-hidden="true" ng-click="irAcrearInteresado()" role="button" data-toggle="tooltip" data-original-title="Dar de alta un nuevo interesado."></i>
			<i class="fa text-primary" ng-class="{'fa-spinner': procesandoCSV, 'fa-pulse': procesandoCSV,'fa-file-excel-o': !procesandoCSV, 'fa-border': !procesandoCSV}" aria-hidden="true" ng-click="!procesandoCSV ? irABajarInteresado() : null" role="button" data-toggle="tooltip" data-original-title="Exportar a excel." id="bajando"><a id="ancla"></a></i>
		</h2>

		<div class="box-round">
			<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="mostrarPagina(pagina-1)">&laquo;</button></span>
					<input type="text" class="form-control text-center" readonly ng-model="pagina" data-toggle="tooltip" data-original-title="Página mostrada.">
					<span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="mostrarPagina(pagina+1)">&raquo;</button></span>
				</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control text-center" readonly ng-model="paginas" data-toggle="tooltip" data-original-title="Páginas de los resultados filtrados.">
			</div>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
				<input class="form-control" type="text" ng-model="interesadosFiltro" ng-change=reseleccionar(interesadosFiltro)>
			</div>
		</div>


		<div style="max-height: 425px; overflow-y: auto;  overflow-x: auto;">
			<table class="table table-striped table-condensed table-hover">
				<theader>
					<tr>
						<th class="col-md-7">Nombre</th>
						<th class="col-md-3">Fecha</th>
						<th class="col-md-1"><span ng-class="{'banderin-danger': filtrarSeguimiento,'banderin-info': !filtrarSeguimiento}"><i class="fa fa-flag icon-pointer" aria-hidden="true" data-toggle="tooltip" data-original-title="Seguimiento" ng-click="filtrarSeguimiento=!filtrarSeguimiento;reseleccionar(interesadosFiltro)"></i></span></th>
						<th class="col-md-1"><span ng-class="{'miBadgeWarning': filtrarDuplicado,'miBadge': !filtrarDuplicado}"><i class="fa fa-files-o icon-pointer" aria-hidden="true" data-toggle="tooltip" data-original-title="¡Posible duplicado!" ng-click="filtrarDuplicado=!filtrarDuplicado;reseleccionar(interesadosFiltro)"></i></span></th>
					</tr>
				</theader>
				<tbody>
					<tr ng-repeat="interesado in interesadosFiltradosYOrdenadosPagina" ng-class="{'selected':$index==selectedRow}" ng-click="setClickedRow($index);cargarInteresado(interesado)">
						<td>{{interesado.apellido.trim()}},&nbsp;{{interesado.nombre.trim()}}</td>
						<td>{{interesado.fechaActualizacion | date:'dd/MM/yy HH:mm'}}</td>
						<td><i class="fa fa-flag banderin-danger" aria-hidden="true" ng-show="interesado.seguimiento"></i></td>
						<td><span class="badge" style="background-color: #ec971f" ng-show="interesado.duplicado"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-original-title="¡Posible duplicado!"></i></span></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
	<div class="col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<paf-interesado-cabecera paf-interesado="interesadoSeleccionado"></paf-interesado-cabecera>
			</div>
			<div class="panel-body">
				<paf-interesado-base paf-interesado="interesadoSeleccionado"></paf-interesado-base>
				<paf-interesado-interacciones paf-interesado="interesadoSeleccionado" paf-interacciones="interacciones" paf-agregar="showModalInteraccion" paf-eliminar="eliminarInteraccion"></paf-interesado-interacciones>
			</div>
			<div class="panel-footer">
					<paf-interesado-pie paf-interesado="interesadoSeleccionado"></paf-interesado-pie>
				<!-- <div class="col-md-5">
					Interesado el.:&nbsp{{interesadoSeleccionado.fechaInteresado | date:'dd/MM/yyyy'}}<br>Actualizado el:&nbsp{{interesadoSeleccionado.fechaActualizacion | date:'dd/MM/yyyy HH:mm'}}
					<i class="fa fa-flag banderin-danger" aria-hidden="true" ng-show="interesadoSeleccionado.seguimiento" data-toggle="tooltip" data-original-title="Seguimiento"></i>
				</div> -->
				<div class="col-md-1">
					<span class="badge" style="background-color: #ec971f" ng-show="interesadoSeleccionado.duplicado"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-original-title="¡Posible duplicado!"></i></span>
				</div>
				<div class="text-right">
					<button class="btn btn-danger" ng-click="showModalEliminarInteresado(interesadoSeleccionado)">Eliminar</button>
					<button class="btn btn-primary" ng-click="irAEdicionInteresado(interesadoSeleccionado)">Edición</button>
					<button class="btn btn-primary" ng-click="irAinscripcion(interesadoSeleccionado)">Inscripción</button>
				</div>
			</div>
		</div>

		<div class="panel panel-default small">
			<div class="panel-heading">
				<span ng-show="!altaEvento">
					Eventos
					<i class="fa fa-plus-circle text-primary" aria-hidden="true" ng-click="irAMostrarEventoFuturos()" role="button" data-toggle="tooltip" data-original-title="Dar de alta a un interesado en un evento."></i>
				</span>
				<span ng-show="altaEvento">
					Elegir Evento
					<i class="fa fa-minus-circle text-primary" aria-hidden="true" ng-click="altaEvento=false" role="button" data-toggle="tooltip" data-original-title="Dar de alta a un interesado en un evento."></i>
				</span>
			</div>
			<div style="max-height: 140px; overflow-y: auto;  overflow-x: auto;">
				<!--Tabla de Eventos Asignados-->
				<table class="table table-striped table-hover table-condensed" ng-show="!altaEvento">
					<thead>
						<tr>
							<th class="col-md-1">Fecha</th>
							<th class="col-md-3">Título</th>
							<th class="col-md-7">Comentario</th>
							<th class="col-md-1">
								<i class="fa fa-calendar-check-o" aria-hidden="true" data-toggle="tooltip" data-original-title="Asistencia."></i></th>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="interesadoEvento in interesadosEventos | orderBy:'evento.fecha':true">
							<td class="col-md-1">{{interesadoEvento.evento.fecha | date:'dd/MM/yyyy'}}</td>
							<td class="col-md-3">{{interesadoEvento.evento.titulo}}</td>
							<td class="col-md-7">{{interesadoEvento.observacion}}&nbsp<i class="fa  fa-pencil icon-primary icon-pointer" aria-hidden="true" ng-hide="interesadoEvento.asistente" ng-click="showModalInvitacionObservacion(interesadoEvento)"></i></td>
							<td class="col-md-1">
								<i class="icon-primary" aria-hidden="true" data-toggle="tooltip" data-original-title="Editar comentarios" ng-class="interesadoEvento.asistente ? 'fa fa-calendar-check-o' : 'fa fa-calendar-o '" ng-show="interesadoEvento.evento.estadoFecha<=0" />
							</td>
						</tr>
					</tbody>
				</table>

				<!--Tabla de Eventos A Asignar-->
				<table class="table table-striped table-hover table-condensed" ng-show="altaEvento">
					<theader>
						<tr>
							<th class="col-md-1">Fecha</th>
							<th class="col-md-3">Título</th>
							<th class="col-md-7">Observación</th>
							<th class="col-md-1">
							</th>
						</tr>
					</theader>
					<tbody>
						<tr ng-repeat="evento in eventosFuturos | orderBy:'fecha'">
							<td>{{evento.fecha | date:'dd/MM/yyyy'}}</td>
							<td>{{evento.titulo}}</td>
							<td>{{evento.observacion}}</td>
							<td><i class="fa fa-plus-circle text-primary" aria-hidden="true" ng-click="irAAgregarInteresadoEvento(evento,interesadoSeleccionado)" role="button" data-toggle="tooltip" data-original-title="Agregar al interesado al evento."></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


	</div>
</div>



<!-- Modal - Observación sobre la invitación a Evento-->
<div class="divModalBase " ng-show="modalInvitacionObservacionOpen">
	<div class="col-md-3 "></div>
	<div class="col-md-6 " style='top: 33%'>
		<div class="panel panel-info ">
			<div class="panel-heading "><i class="fa fa-info-circle fa-lg .text-info "></i><em>&nbsp<strong>{{interesadoSeleccionado.nombre}}&nbsp{{interesadoSeleccionado.apellido}}</strong> invitado al evento <strong>{{interesadoEventoEditando.evento.titulo}}</strong> el día <strong>{{interesadoEventoEditando.evento.fecha | date:'dd/MM/yyyy'}}</strong></em>
			</div>
			<div class="panel-body">
				<form novalidate name="myForm" class="css-form" autocomplete="off">
					<div class="input-group" ng-class="'has-success'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Observación de la invitación">Observación</span>
						<textarea class="form-control" name="observacion" ng-model="interesadoEventoEditando.observacion"></textarea>
					</div>
				</form>
			</div>
			<div class="panel-footer ">
				<div class="text-right">
					<button class="btn btn-primary" ng-click="actualizarObservacion(interesadoEventoEditando)" autofocus>Actualizar</button>
					<button class="btn btn-default" ng-click="closeModalInvitacionObservacion()" autofocus>Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Fin Modal - Observación sobre la invitación a Evento-->

<!-- Modal - Eliminar Interesado-->
<div class="divModalBase" ng-show="modalEliminarInteresadoOpen">
	<div class="col-md-4"></div>
	<div class="col-md-4" style='top: 33%'>
		<div class="panel panel-info ">
			<div class="panel-heading"><i class="fa fa-check-circle text-warning"></i>&nbspIngrese el PIN de confirmación.
			</div>
			<div class="panel-body">
				<form novalidate name="myForm" class="css-form" autocomplete="off">
					<div class="input-group" ng-class="myForm.PIN.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Pin de confirmación">PIN</span>
						<input type="password" class="form-control" name="PIN" ng-model="eliminarInteresadoPIN" placeholder="[1234]" pattern="\d{4}" maxlength="4" ng-keyup="eliminarInteresadoPINErroneo=false" autofocus required min="0" max="9999">
					</div>
				</form>
			</div>
			<div class="panel-footer ">
				<div class="col-md-6 text-danger">
					<span ng-show="eliminarInteresadoPINErroneo">El PIN ingresado es incorrecto.</span>
				</div>
				<div class="text-right">
					<button class="btn btn-danger" ng-click="closeModalEliminarInteresado(eliminarInteresadoPIN)" ng-disabled="!myForm.$valid">Confirmar</button>
					<button class="btn btn-default" ng-click="closeModalEliminarInteresado('Cancelar')" autofocus>Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Fin Modal - Eliminar Interesado-->



<!-- Modal - Interaccion de un interesado-->
<div class="divModalBase " ng-show="modalInteraccionOpen">
	<div class="col-md-3 "></div>
	<div class="col-md-6 " style='top: 33%'>
		<div class="panel panel-info ">
			<div class="panel-heading "><i class="fa fa-info-circle fa-lg .text-info "></i>{{interaccionEditando.fecha | date:'dd/MM/yyyy - HH:mm'}}
			</div>
			<div class="panel-body">
				<form novalidate name="myForm" class="css-form" autocomplete="off">
					<div class="input-group" ng-class="'has-success'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Comentario">Comentario</span>
						<textarea class="form-control" name="interaccion" ng-model="interaccionEditando.comentario"></textarea>
					</div>
				</form>
			</div>
			<div class="panel-footer ">
				<div class="text-right">
					<button class="btn btn-primary" ng-click="agregarInteraccion(interaccionEditando)" autofocus>Agregar</button>
					<button class="btn btn-default" ng-click="closeModalInteraccion()" autofocus>Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Fin Modal - Interaccion de un interesado-->