<div class="divSpinner" ng-show="cargando">
	<div class="spinner" />
</div>
<div class="alert alert-danger" ng-show="error.hayError">
	<p ng-repeat="error in error.errores">
		<strong>{{error.codigo}}:</strong><em>&nbsp;{{error.mensaje}}</em>
	</p>
</div>
<div ng-show="!GetOK">
	<div class="alert alert-warning" ng-show="!cargando">
		Los interesados no fueron obtenidos, intente nuevamente.
	</div>
</div>

<div ng-show="!cargando">
	<div class="col-md-5" ng-show="GetOK || cargando">
		<h2>Interesados&nbsp;
			<span class="badge">{{interesadosFiltradosYOrdenados.length}}</span>/
			<span class="badge">{{interesados.length}}</span>
			<i class="fa fa-plus-circle text-primary" aria-hidden="true" ng-click="irAcrearInteresado()" role="button" data-toggle="tooltip" data-original-title="Dar de alta un nuevo interesado."></i>
			<i class="fa text-primary" ng-class="{'fa-spinner': procesandoCSV, 'fa-pulse': procesandoCSV,'fa-file-excel-o': !procesandoCSV, 'fa-border': !procesandoCSV}" aria-hidden="true" ng-click="!procesandoCSV ? irABajarInteresado() : null" role="button" data-toggle="tooltip" data-original-title="Exportar a excel." id="bajando"><a id="ancla"></a></i>
		</h2>

		<div class="box-round">
			<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="mostrarPagina(pagina-1)">&laquo;</button></span>
					<input type="text" class="form-control text-center" readonly ng-model="pagina" data-toggle="tooltip" data-original-title="Página mostrada.">
					<span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="mostrarPagina(pagina+1)">&raquo;</button></span>
				</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control text-center" readonly ng-model="paginas" data-toggle="tooltip" data-original-title="Páginas de los resultados filtrados.">
			</div>
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
				<input class="form-control" type="text" ng-model="interesadosFiltro" ng-change=reseleccionar(interesadosFiltro)>
			</div>
		</div>


		<div style="max-height: 425px; overflow-y: auto;  overflow-x: auto;">
			<table class="table table-striped table-condensed table-hover">
				<theader>
					<tr>
						<th class="col-md-1"><i class="fa fa-external-link" aria-hidden="true" data-toggle="tooltip" data-original-title="Abrir en otra pestaña"></th>
						<th class="col-md-6">Nombre</th>
						<th class="col-md-3">Fecha</th>
						<th class="col-md-1"><span ng-class="{'banderin-danger': filtrarSeguimiento,'banderin-info': !filtrarSeguimiento}"><i class="fa fa-flag icon-pointer" aria-hidden="true" data-toggle="tooltip" data-original-title="Seguimiento" ng-click="filtrarSeguimiento=!filtrarSeguimiento;reseleccionar(interesadosFiltro)"></i></span></th>
						<th class="col-md-1"><span ng-class="{'miBadgeWarning': filtrarDuplicado,'miBadge': !filtrarDuplicado}"><i class="fa fa-files-o icon-pointer" aria-hidden="true" data-toggle="tooltip" data-original-title="¡Posible duplicado!" ng-click="filtrarDuplicado=!filtrarDuplicado;reseleccionar(interesadosFiltro)"></i></span></th>
					</tr>
				</theader>
				<tbody>
					<tr ng-repeat="interesado in interesadosFiltradosYOrdenadosPagina" ng-class="{'selected':$index==selectedRow}" ng-click="setClickedRow($index);cargarInteresado(interesado)">
							<td>
								<a href="ficha.html#!/interesadoFicha?id={{interesado.interesadoId}}" rel="noopener noreferrer" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
							</td>
						<td>{{interesado.apellido.trim()}},&nbsp;{{interesado.nombre.trim()}}</td>
						<td>{{interesado.fechaActualizacion | date:'dd/MM/yy HH:mm'}}</td>
						<td><i class="fa fa-flag banderin-danger" aria-hidden="true" ng-show="interesado.seguimiento"></i></td>
						<td><span class="badge" style="background-color: #ec971f" ng-show="interesado.duplicado"><i class="fa fa-files-o" aria-hidden="true" data-toggle="tooltip" data-original-title="¡Posible duplicado!"></i></span></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
	<div class="col-md-7">
		<paf-interesado-panel paf-interesado="interesadoSeleccionado" paf-deleted="obtenerInteresados"></paf-interesado-panel>
		<paf-eventos-panel paf-interesado="interesadoSeleccionado"></paf-eventos-panel>
	</div>
</div>



