<div class="container">
	<div class="row">
		<div class="alert alert-danger" ng-show="error.hayError">
			<p ng-repeat="error in error.errores">
				<strong>{{error.codigo}}:</strong><em>&nbsp;{{error.mensaje}}</em>
			</p>
		</div>
	</div>
</div>
<div class="col-md-2">
</div>
<div class="col-md-7">
	<form novalidate name="myForm" class="css-form" autocomplete="off">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Ficha de Interesado
			</div>
			<div class="panel-body no-gutter">
				<!-- E-Mail -->
				<div class="col-md-6">
					<div class="input-group" ng-class="myForm.email.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon"><span class="glyphicon glyphicon-send" data-toggle="tooltip" data-original-title="E-Mail" ></span></span>
						<input id="email" type="text" class="form-control" name="email" required placeholder="[E-Mail]" ng-model="interesadoEditando.mail" ng-change="esItemDuplicado(interesadoEditando)" pattern="^(?:(?:[\w`~!#$%^&*\-=+;:{}&apos;|,?\/]+(?:(?:\.(?:&quot;(?:\\?[\w`~!#$%^&*\-=+;:{}&apos;|,?\/\.()<>\[\] @]|\\&quot;|\\\\)*&quot;|[\w`~!#$%^&*\-=+;:{}&apos;|,?\/]+))*\.[\w`~!#$%^&*\-=+;:{}&apos;|,?\/]+)?)|(?:&quot;(?:\\?[\w`~!#$%^&*\-=+;:{}&apos;|,?\/\.()<>\[\] @]|\\&quot;|\\\\)+&quot;))@(?:[a-zA-Z\d\-]+(?:\.[a-zA-Z\d\-]+)*|\[\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\])$">
					</div>
				</div>


				<!-- Telefono -->
				<div class="col-md-6">
					<div class="input-group" ng-class="myForm.telefono.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon"><span class="glyphicon glyphicon-earphone" data-toggle="tooltip" data-original-title="N° de teléfono fijo (xx-xxxx-xxxx) o celular (xx-15-xxxx-xxxx)" ></span></span>
						<input id="telefono" type="text" class="form-control" name="telefono" placeholder="[N° de teléfono]" ng-model="interesadoEditando.telefono" pattern="^\+549[123456789]\d{9}$|^0{0,1}\d{10}$|^0{0,1}\d{12}$|^0{0,1}\d{2}-\d{4}-\d{4}$|^0{0,1}\d{3}-\d{3}-\d{4}$|^0{0,1}\d{2}-\d{4}-\d{4}$|^0{0,1}\d{3}-\d{3}-\d{4}$|^0{0,1}\d{2}-15-\d{4}-\d{4}$|^0{0,1}\d{3}-15-\d{3}-\d{4}$">
					</div>
				</div>

				<!-- Nombre y Apellido -->
				<div class="col-md-6">
					<div class="input-group" ng-class="myForm.nombre.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Nombre(s) del Interesado">Nombre</span>
						<input type="text" class="form-control" name="nombre" required placeholder="[nombre(s)]" ng-model="interesadoEditando.nombre">
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group" ng-class="myForm.apellido.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon" for="apellido" data-toggle="tooltip" data-original-title="Apellido(s) del Interesado">Apellido</span>
						<input id="apellido" type="text" class="form-control" name="apellido" required placeholder="[Apellido(s)]" ng-model="interesadoEditando.apellido">
					</div>
				</div>

				<!-- ¿Como Conocio? -->
				<div class="col-md-12">
					<div class="input-group" ng-class="myForm.comoConocio.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon"><i class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-original-title="¿Como conoció a la Escuela?" ></i></span>
						<input type="text" ng-model="interesadoEditando.comoConocio" name="comoConocio" required ng-hide="true" />
						<div class="btn-group">
							<div class="btn-group" role="group" ng-repeat="conocioOrigen in conocioOrigenes">
								<button type="button" class="btn" ng-class="interesadoEditando.comoConocio==='{{conocioOrigen.descripcion}}' ? 'btn-info' : 'btn-default'" ng-click="setConocio($index)">{{conocioOrigen.descripcion}}</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Interesado en Cursar: [Carrera, Tecnicatura x Equiv] -->
				<div class="col-md-4">
					<div class="input-group" ng-class="'has-success'">
						<span class="input-group-addon">
							<i class="fa fa-university fa-fw" aria-hidden="true" data-toggle="tooltip" data-original-title="¿Carrera a cursar?"></i>
						</span>
						<div class="btn-group" role="group">
							<div class="btn-group" role="group" ng-repeat="carrera in carreras">
								<button type="button" class="btn" ng-class="interesadoEditando.carreraId==={{carrera.id}} ? 'btn-info' : 'btn-default'" ng-click="setCarrera($index)" ng-valid="false">{{carrera.descripcion}}</button>
							</div>
						</div>
					</div>
				</div>

				<!--Modalidad-->
				<div class="col-md-4">
					<div class="input-group" ng-class="myForm.modalidad.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true" data-toggle="tooltip" data-original-title="Modalidad de cursada" /></span>
						<input type="text" ng-model="interesadoEditando.modalidadId" name="modalidad" ng-hide="true" />
						<div class="btn-group" role="group" aria-label="...">
							<button class="btn" style="border-top-left-radius: 0;border-bottom-left-radius: 0;" ng-repeat="modalidad in modalidades" ng-class="interesadoEditando.modalidadId==={{modalidad.id}} ? 'btn-info' : 'btn-default'" ng-click="setModalidad($index)">{{modalidad.descripcion}}</button>
						</div>
					</div>
				</div>


				<!--Turno-->
				<div class="col-md-4">
					<div class="input-group" ng-class="myForm.turno.$valid ? 'has-success' : 'has-error'" ng-show="interesadoEditando.modalidadId===1">
						<span class="input-group-addon">
							<i class="fa fa-sun-o" aria-hidden="true" data-toggle="tooltip" data-original-title="Turno de asistencia"></i>
							<i class="fa fa-moon-o" aria-hidden="true" data-toggle="tooltip" data-original-title="Turno de asistencia"></i>
						</span>
						<input type="text" ng-model="interesadoEditando.turno" name="turno" ng-hide="true" />
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn" ng-repeat="turno in turnos" ng-class="interesadoEditando.turno==='{{turno.descripcion}}' ? 'btn-info' : 'btn-default'" ng-click="setTurno($index)">{{turno.descripcion}}</button>
						</div>
					</div>
				</div>

				<!--Año-->
				<div class="col-md-5">
					<div class="input-group" ng-class=" 'has-success'">
						<span class="input-group-addon">
							<i class="fa fa-calendar fa-fw" aria-hidden="true" data-toggle="tooltip" data-original-title="Año de inscripción"></i>
						</span>
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn" ng-repeat="anio in anios" ng-class="interesadoEditando.anioAcursar===({{anio.id}}) ? 'btn-info' : 'btn-default'" ng-click="setAnio($index)">{{anio.descripcion}}</button>
						</div>
					</div>
				</div>

				<!--N-mestre-->
				<div class="col-md-7">
					<div class="input-group" ng-class=" 'has-success'">
						<span class="input-group-addon">
						<i class="fa fa-calendar fa-fw" aria-hidden="true" data-toggle="tooltip" data-original-title="Cuatrimestre de inscripción"></i>
					</span>
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn" ng-repeat="nmestre in nmestres" ng-class="interesadoEditando.nmestreAcursar===({{nmestre.id}}) ? 'btn-info' : 'btn-default'" ng-click="setNmestre($index)">{{nmestre.descripcion}}</button>
						</div>
					</div>
				</div>

				<!--Grado de Interés-->
				<div class="col-md-5">
					<div class="input-group" ng-class="myForm.gradoInteres.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-sort" data-toggle="tooltip" data-original-title="Grado de interés" /></span>
						</span>
						<input type="text" ng-model="interesadoEditando.gradoInteres" name="gradoInteres" required ng-hide="true" />
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn" ng-repeat="gradoInteres in gradosDeInteres" ng-class="interesadoEditando.gradoInteres==='{{gradoInteres.descripcion}}' ? 'btn-info' : 'btn-default'" ng-click="setGradoInteres($index)">{{gradoInteres.descripcion}}</button>
						</div>
					</div>
				</div>

				<!--Situaciones Particulares-->
				<div class="col-md-7">
					<div class="input-group" ng-class=" 'has-success'">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-original-title="Situación Particular" />
					</span>
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn" ng-repeat="situacionInscripcion in situacionInscripciones" ng-class="interesadoEditando.situacionInscripcion==='{{situacionInscripcion.descripcion}}' ? 'btn-info' : 'btn-default'" ng-click="setsituacionInscripcion($index)">{{situacionInscripcion.descripcion}}</button>
						</div>
					</div>
				</div>

				<!--Situaciones Especiales-->
				<div class="col-md-12">
					<div class="input-group" ng-class=" 'has-success'">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-bell" data-toggle="tooltip" data-original-title="Situación Especial" />
					</span>
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn" ng-repeat="situacionEspecial in situacionesEspeciales" ng-class="interesadoEditando.situacionEspecial==='{{situacionEspecial.descripcion}}' ? 'btn-info' : 'btn-default'" ng-click="setSituacionEspecial($index)">{{situacionEspecial.descripcion}}</button>
						</div>
					</div>
				</div>

				<!--Medios de Contacto-->
				<div class="col-md-12">
					<div class="input-group" ng-class=" 'has-success'">
						<span class="input-group-addon">
						<i class="fa fa-handshake-o" aria-hidden="true" data-toggle="tooltip" data-original-title="Medio de contacto para el registro como interesado"></i>
					</span>
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn" ng-repeat="medioDeContacto in mediosDeContacto" ng-class="interesadoEditando.medioDeContactoId==={{medioDeContacto.id}} ? 'btn-info' : 'btn-default'" ng-click="setMediosDeContacto($index)">{{medioDeContacto.descripcion}}</button>
						</div>
					</div>
				</div>


				<div class="col-md-12">
					<div class="input-group" ng-class="myForm.comentarios.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon">
							<i class="fa fa-comment-o" aria-hidden="true" data-toggle="tooltip" data-original-title="Comentarios" />
						</span>
						<textarea id="comentarios" rows="1" class="form-control" name="comentarios" placeholder="[Comentarios]" ng-model="interesadoEditando.comentario"></textarea>
					</div>
				</div>



			</div>

			<div class="panel-footer" ng-class="myForm.$valid ? '' : 'con-error'">
				<div class="col-md-8">
					<span ng-show="!myForm.$valid">El formulario está incompleto o con información incorrecta.</span>
					<span ng-show="myForm.$valid">
						Interesado el.:&nbsp{{interesadoEditando.fechaInteresado | date:'dd/MM/yyyy'}}<br>Actualizado el:&nbsp{{interesadoEditando.fechaActualizacion | date:'dd/MM/yyyy HH:mm'}}
						<i class="fa fa-flag" aria-hidden="true" ng-class="interesadoEditando.seguimiento ? 'banderin-danger fa-lg' : 'banderin-alertOff'" ng-model="interesadoEditando.seguimiento" data-toggle="tooltip" data-original-title="Interesado con prioridad" ng-click="setSeguimiento()"></i>
						<span  ng-class="{'miBadgeWarning': itemDuplicado}" ><i class="fa fa-files-o icon-pointer" aria-hidden="true" ng-show="itemDuplicado" data-toggle="tooltip" data-original-title="¡Posible duplicado!" ></i></span>
					</span>
				</div>
				<div>
					<button class="btn btn-primary" ng-click="grabar(interesadoEditando)" ng-disabled="!myForm.$valid || itemDuplicado">{{accionLabel}}</button>
					<button class="btn btn-default" ng-click="cancelarEdicion()">Cancelar</button>
				</div>
			</div>
		</div>
	</form>
</div>







<!-- Modal -->
<div class="divModalBase" ng-show="modalOpen">
	<div class="col-md-4"></div>
	<div class="col-md-4" style='top: 33%'>
		<div class="panel panel-info">
			<div class="panel-heading"><i class="fa fa-info-circle fa-lg .text-info"></i> &nbsp Ficha de Inscripción
			</div>
			<div class="panel-body">
				{{msjModal}}.
			</div>
			<div class="panel-footer">
				<div class="col-md-9"></div>
				<button class="btn btn-primary" ng-click="closeModal()" autofocus>cerrar</button>
			</div>
		</div>
	</div>
</div>