<div class="divSpinner" ng-show="cargando">
	<div class="spinner" />
</div>
<div class="alert alert-warning" ng-show="!cargando && !GetOK">
	Los Legajos no fueron obtenidos, intente nuevamente.
</div>
<div class="col-md-5" ng-show="!cargando && GetOK && setearScroll()">
	<h2>Legajos&nbsp;<span class="badge">{{legajos.length}}</span>
	<i class="fa text-primary"  ng-class="{'fa-spinner': procesandoCSV, 'fa-pulse': procesandoCSV,'fa-file-excel-o': !procesandoCSV, 'fa-border': !procesandoCSV}" aria-hidden="true" ng-click="!procesandoCSV ? irABajarInteresado() : null" role="button" data-toggle="tooltip" title="Exportar a excel." id="bajando"><a id="ancla"></a></i>
	</h2>
	<div class="box-round">
		<div class="col-md-6">
		</div>
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
			<input class="form-control" type="text" ng-model="nombreapellidoFiltro" ng-change=reseleccionar(nombreapellidoFiltro)>
		</div>
	</div>
	<div style="max-height: 425px; overflow-y: scroll;" id="lista">
		<table class="table table-striped table-condensed table-hover">
			<theader>
				<tr>
					<th>Nombre</th>
					<th class="text-center">DNI</th>
					<th><span class="glyphicon glyphicon-certificate small" aria-hidden="true" /></th>
				</tr>
			</theader>
			<tbody>
				<!--<tr ng-repeat="legajo in legajos | filter:nombreapellidoFiltro  | orderBy:'alumno.apellido'" ng-class="{'selected':$index==selectedRow}" ng-click="setClickedRow($index);cargarLegajo(legajo)">-->
				<tr ng-repeat="legajo in legajosFiltrados" ng-class="{'selected':$index==selectedRow}" ng-click="setClickedRow($index);cargarLegajo(legajo)">
					<td>
						{{legajo.alumno.apellido.trim()}},&nbsp{{legajo.alumno.nombre.trim()}}
					</td>
					<td class="text-right">
						{{legajo.dni}}
					</td>
					<td class="text-right"><span class="glyphicon glyphicon-certificate small" style="color: lightgreen" aria-hidden="true" ng-show="legajo.cuestionario!=null"	/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="col-md-7" ng-show="!cargando && GetOK">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="col-md-6">
				<h4>{{legajoSeleccionado.alumno.apellido}},&nbsp{{legajoSeleccionado.alumno.nombre}}</h4>
				DNI:&nbsp{{legajoSeleccionado.dni}}
			</div>
			<div class="col-md-6">
				<h4 class="text-right">Nº:&nbsp{{legajoSeleccionado.legajoNro}}</h4>

			</div>
			<p class="text-right">
				<!--{{obtenerAnioCursado(legajoSeleccionadoCursoActivo.promocionId)}},&nbsp{{obtenerCuatrimestreCursado(legajoSeleccionadoCursoActivo.cuatrimestreId)}},&nbsp{{legajoSeleccionadoCursoActivo.modoId}},&nbsp{{legajoSeleccionadoCursoActivo.turnoId}}-->&nbsp&nbsp&nbsp</p>
		</div>
		<div class="panel-body" style="height: 350px; overflow-y: scroll;">

			<table class="table table-striped" ng-show="!cargando && GetOK && informaConfiguracion['Basico']">
				<thead>
					<tr>
						<th>Datos básicos</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>
							<span class="glyphicon glyphicon-user" aria-hidden="true" />&nbspEdad:&nbsp{{edad}}
						</td>
						<td>
							{{legajoSeleccionado.fechaNacimiento | date:'dd/MM/yyyy'}}&nbsp-&nbsp{{legajoSeleccionado.lugarNacimiento}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-send" aria-hidden="true" />&nbsp{{legajoSeleccionado.alumno.mail.replace("%40","@")}}
						</td>
						<td>

						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-earphone" aria-hidden="true" /> &nbsp{{legajoSeleccionado.alumno.telefono}}
						</td>
						<td>
							<span class="glyphicon glyphicon-phone" aria-hidden="true" />&nbsp{{legajoSeleccionado.alumno.celular}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-home" aria-hidden="true" />&nbsp{{legajoSeleccionado.direccionCalle}}&nbsp{{legajoSeleccionado.direccionNro}}
						</td>
						<td>
							{{legajoSeleccionado.direccionCoordenadaInterna}}
						</td>
					</tr>
					<tr>
						<td>
							({{legajoSeleccionado.codigoPostalBase}})&nbsp{{legajoSeleccionado.localidadBase}}
						</td>
						<td>
							Argentina
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true" />&nbsp({{legajoSeleccionado.localidad.codigoPostal.codigo}})&nbsp{{legajoSeleccionado.localidad.nombre}},&nbsp{{legajoSeleccionado.localidad.provinciaId}}
						</td>
						<td>
							{{legajoSeleccionado.localidad.paisId}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="fa fa-book" aria-hidden="true" data-toggle="tooltip" title="Libro Matriz." />&nbsp{{legajoSeleccionado.libroMatriz}}
						</td>
						<td>
							<span class="fa fa-file-text" aria-hidden="true" data-toggle="tooltip" title="Folio de Libro Matriz" />&nbsp{{legajoSeleccionado.folio}}
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true" />&nbsp{{legajoSeleccionado.comentarios}}
						</td>
					</tr>
				</tbody>
			</table>
			<div ng-show="!cargando && GetOK && informaConfiguracion['Estudios']">
				<strong>Estudios.</strong>
				<div class="alert alert-warning" role="alert" ng-show="legajoSeleccionado.estudios.length==0">
					El estudiante no ha declarado estudios, al menos debe indicar su situación respecto al secundario.
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>

							</th>
							<th>
								Nivel
							</th>
							<th>
								Título
							</th>
							<th>
								Institución
							</th>
						</tr>
					</thead>
					<tbody ng-repeat="estudio in legajoSeleccionado.estudios">
						<tr>
							<td>
								<span class="glyphicon glyphicon-star" aria-hidden="true" style="color:blue" ng-show="estudio.terminado" />
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true" style="color:deepskyblue" ng-show="!estudio.terminado" />
							</td>
							<td>
								{{estudio.nivelEstudioId}}
							</td>
							<td>
								{{estudio.titulo}}
							</td>
							<td>
								{{estudio.institucion}}
							</td>
						</tr>
					</tbody>

				</table>
			</div>

			<table class="table table-striped" ng-show="!cargando && GetOK && informaConfiguracion['Documentacion']">
				<thead>
					<tr>
						<th colspan="7">Fechas de entrega y validación de Documentación</th>
					</tr>
					<tr>
						<th>

						</th>
						<th>
							Compromiso
						</th>
						<th>
							Cuestionario
						</th>
						<th>
							Apto Físico
						</th>
						<th>
							Título
						</th>
						<th>
							DNI
						</th>
						<th>
							Foto
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Entrega
						</td>
						<td>
							<span ng-class="legajoSeleccionado.alumno.docCompromiso!==null ? 'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'" aria-hidden="true"
							/>&nbsp{{legajoSeleccionado.alumno.docCompromiso | date:'dd/MM/yyyy'}}
						</td>
						<td>
							<span ng-class="legajoSeleccionado.cuestionario!==null ? 'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'" aria-hidden="true"
							/>&nbsp{{legajoSeleccionado.cuestionario | date:'dd/MM/yyyy'}}
						</td>
						<td>
							<span ng-class="legajoSeleccionado.alumno.docAptoFisico!==null ? 'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'" aria-hidden="true"
							/>&nbsp{{legajoSeleccionado.alumno.docAptoFisico | date:'dd/MM/yyyy'}}
						</td>
						<td>
							<span ng-class="legajoSeleccionado.alumno.docTitulo!==null ? 'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'" aria-hidden="true"
							/>&nbsp{{legajoSeleccionado.alumno.docTitulo | date:'dd/MM/yyyy'}}
						</td>
						<td>
							<span ng-class="legajoSeleccionado.alumno.docDni!==null ? 'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'" aria-hidden="true"
							/>&nbsp{{legajoSeleccionado.alumno.docDni | date:'dd/MM/yyyy'}}
						</td>
						<td>
							<span ng-class="legajoSeleccionado.alumno.docFoto!==null ? 'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'" aria-hidden="true"
							/>&nbsp{{legajoSeleccionado.alumno.docFoto | date:'dd/MM/yyyy'}}
						</td>
					</tr>
					<tr>
						<td>
							Validación
						</td>
						<td>
							[No Aplica]
						</td>
						<td>
							[No Aplica]
						</td>
						<td>
							<span ng-class="legajoSeleccionado.docAptoFisicoValido!==null ? 'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'"
							 aria-hidden="true" />&nbsp{{legajoSeleccionado.docAptoFisicoValido | date:'dd/MM/yyyy'}}
						</td>
						<td>
							<span ng-class="legajoSeleccionado.docTituloValido!==null ? 'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'"
							 aria-hidden="true" />&nbsp{{legajoSeleccionado.docTituloValido | date:'dd/MM/yyyy'}}
						</td>
						<td>
							<span ng-class="legajoSeleccionado.docDnivalido!==null ? 'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'" aria-hidden="true"
							/>&nbsp{{legajoSeleccionado.docDnivalido | date:'dd/MM/yyyy'}}
						</td>
						<td>
							<span ng-class="legajoSeleccionado.docFotoValido!==null ? 'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'" aria-hidden="true"
							/>&nbsp{{legajoSeleccionado.docFotoValido | date:'dd/MM/yyyy'}}
						</td>
					</tr>
				</tbody>

			</table>

			<table class="table table-striped" ng-show="!cargando && GetOK && informaConfiguracion['Inscripcion']">
				<thead>
					<tr>
						<th>Datos inscripción</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-md-3">
							<span class="glyphicon glyphicon-send" aria-hidden="true"  data-toggle="tooltip" title="E-Mail" />&nbsp{{legajoSeleccionado.alumno.mail.replace("%40","@")}}
						</td>
						<td class="col-md-3">
							<span class="glyphicon glyphicon-send" aria-hidden="true"  data-toggle="tooltip" title="Estado envió de mail de Bienvenida" />&nbsp{{legajoSeleccionado.alumno.mail2.replace("%40","@")}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-earphone" aria-hidden="true"  data-toggle="tooltip" title="Télefono Fijo" />&nbsp{{legajoSeleccionado.alumno.telefono}}
						</td>
						<td>
							<span class="glyphicon glyphicon-phone" aria-hidden="true"  data-toggle="tooltip" title="Télefono Celular" />&nbsp{{legajoSeleccionado.alumno.celular}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-home" aria-hidden="true"  data-toggle="tooltip" title="Domicilio" />&nbsp{{legajoSeleccionado.alumno.domicilio}}
						</td>
						<td>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"  data-toggle="tooltip" title="Provincia" />&nbsp{{legajoSeleccionado.alumno.provincia}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-registration-mark" aria-hidden="true"  data-toggle="tooltip" title="Modalidad" />&nbsp{{legajoSeleccionado.alumno.modalidad.nombre}}
						</td>
						<td>
							<span class="glyphicon glyphicon glyphicon-sort" aria-hidden="true"  data-toggle="tooltip" title="Grado de Interés" />&nbsp{{legajoSeleccionado.alumno.gradoInteres}}
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<span class="glyphicon glyphicon-question-sign" aria-hidden="true"  data-toggle="tooltip" title="Conocio por" />&nbsp{{legajoSeleccionado.alumno.comoConocio}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"  data-toggle="tooltip" title="Situación Inscripción" />&nbsp{{legajoSeleccionado.alumno.situacionInscripcion}}
						</td>
						<td>
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"  data-toggle="tooltip" title="Situación Especial" />&nbsp{{legajoSeleccionado.alumno.situacionEspecial}}
						</td>
					</tr>
					<tr>
							<td>
								<i class="fa fa-university fa-fw" aria-hidden="true" data-toggle="tooltip" title="Carrera a cursar"></i>&nbsp{{legajoSeleccionado.alumno.carrera.descripcion}}
							</td>
							<td>
								<i class="fa fa-calendar" aria-hidden="true" data-toggle="tooltip" title="Inscripto para empezar a cursar en el año y cuatrimestre indicado, de la carrera"></i>
								<span ng-show="legajoSeleccionado.alumno.anioAcursar!==null">
									{{legajoSeleccionado.alumno.anioAcursar}}{{legajoSeleccionado.alumno.anioAcursar===2 ? 'do' : 'er'}}&nbspaño,&nbsp{{legajoSeleccionado.alumno.nmestreAcursar}}{{legajoSeleccionado.alumno.nmestreAcursar===1 ? 'er' : 'do'}}&nbspcuatrimeste.
								</span>
							</td>
						</tr>
					<tr>
							<td colspan="2">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"  data-toggle="tooltip" title="Comentario" />&nbsp{{legajoSeleccionado.alumno.comentario}}
							</td>
					</tr>
				</tbody>
			</table>

			<div ng-show="!cargando && GetOK && informaConfiguracion['Cuestionario']" role="navigation">
				<ul class="nav nav-tabs">
					<li ng-class="CuestionarioActivo==0 ? 'active':''"><a ng-click="CuestionarioActivo=0">Historia     &nbsp<span class="glyphicon glyphicon-info-sign" aria-hidden="true" ng-show="(CuestionarioActivoText[0] !== null) && (CuestionarioActivoText[0] !== '')" /></a></li>
					<li ng-class="CuestionarioActivo==1 ? 'active':''"><a ng-click="CuestionarioActivo=1">Definición   &nbsp<span class="glyphicon glyphicon-info-sign" aria-hidden="true" ng-show="(CuestionarioActivoText[1] !== null) && (CuestionarioActivoText[1] !== '')" /></a></li>
					<li ng-class="CuestionarioActivo==2 ? 'active':''"><a ng-click="CuestionarioActivo=2">Situación    &nbsp<span class="glyphicon glyphicon-info-sign" aria-hidden="true" ng-show="(CuestionarioActivoText[2] !== null) && (CuestionarioActivoText[2] !== '')" /></a></li>
					<li ng-class="CuestionarioActivo==3 ? 'active':''"><a ng-click="CuestionarioActivo=3">Expectativas &nbsp<span class="glyphicon glyphicon-info-sign" aria-hidden="true" ng-show="(CuestionarioActivoText[3] !== null) && (CuestionarioActivoText[3] !== '')" /></a></li>
				</ul>
					<em style="white-space:pre-wrap;">{{CuestionarioActivoText[CuestionarioActivo]}}</em>
				<br>
				<div class="alert alert-info" role="alert" ng-show="CuestionarioActivoText[CuestionarioActivo]=='' || CuestionarioActivoText[CuestionarioActivo]==null">
					El estudiante no ha dado esta información.
				</div>
			</div>
			<div ng-show="!cargando && GetOK && informaConfiguracion['Trabajo']">
				<strong>Datos de trabajos/empleos declarados.</strong>
				<div class="alert alert-info" role="alert" ng-show="legajoSeleccionado.trabajos.length==0">
					El estudiante no ha declarado trabajos.
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<td class="col-md-1"></td>
							<td class="col-md-8">
							</td>
							<td class="col-md-3">
							</td>
						</tr>
					</thead>
					<tbody ng-repeat="trabajo in legajoSeleccionado.trabajos">
						<tr>
							<td rowspan="2">{{$index + 1}}</td>
							<td>
								<span class="glyphicon glyphicon-home" aria-hidden="true" />&nbsp{{trabajo.razonSocial}}
							</td>
							<td>
								<span class="glyphicon glyphicon-earphone" aria-hidden="true" />&nbsp{{trabajo.telefono}}
							</td>
						</tr>
						<tr>
							<td>
								<span class="glyphicon glyphicon-user" aria-hidden="true" />&nbsp{{trabajo.cargo}}
							</td>
							<td>
								<span class="glyphicon glyphicon-hourglass" aria-hidden="true" />&nbsp{{trabajo.antiguedad}}
							</td>
						</tr>
					</tbody>


				</table>
			</div>


		</div>
		<div class="panel-footer">
			<button class="btn btn-primary" ng-click="cambiarInforme('Basico')">Legajo</button>
			<button class="btn btn-primary" ng-click="cambiarInforme('Inscripcion')">Inscripcion</button>
			<button class="btn btn-primary" ng-click="cambiarInforme('Estudios')">Estudios</button>
			<button class="btn btn-primary" ng-click="cambiarInforme('Documentacion')">Documentación</button>
			<button class="btn btn-primary" ng-click="cambiarInforme('Cuestionario')">Cuestionario</button>
			<button class="btn btn-primary" ng-click="cambiarInforme('Trabajo')">Trabajo</button>
			<button class="btn btn-primary" ng-click="editarLegajo(legajoSeleccionado)">Editar</button>
		</div>
	</div>
</div>