<div class= "divSpinner" ng-show="cargando">
    <div class="spinner" />
</div>
<div class="container col-md-5" ng-show="!cargando && GetOK && setearScroll()">
	<div class="container col-md-6">
		<h2>Legajos</h2>
	</div>
	<div class="container col-md-6">
		<input type="text" ng-model="nombreapellidoFiltro" ng-change=reseleccionar(nombreapellidoFiltro)>
	</div>
	<div class="container col-md-12" style="max-height: 450px; overflow-y: scroll;" id="lista">
		<table class="table table-striped" >
			<tbody ng-repeat="legajo in legajos |
			filter:nombreapellidoFiltro | orderBy:alumno.apellido">
				<tr ng-class="{'selected':$index==selectedRow}" ng-click="setClickedRow($index);cargarLegajo(legajo)">
					<td>
						{{legajo.alumno.apellido}},&nbsp{{legajo.alumno.nombre}}
					</td>
					<td>
						<button type="button" class="btn btn-info">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="col-md-7" ng-show="!cargando && GetOK">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="col-md-6">
				<h4>{{legajoSeleccionado.alumno.apellido}},&nbsp{{legajoSeleccionado.alumno.nombre}}</h4>
				DNI:&nbsp{{legajoSeleccionado.dni}}
			</div>
			<div class="col-md-6">
				<h4 class="text-right">Nº:&nbsp{{legajoSeleccionado.legajoNro}}</h4>

			</div>
			<p class="text-right"><!--{{obtenerAnioCursado(legajoSeleccionadoCursoActivo.promocionId)}},&nbsp{{obtenerCuatrimestreCursado(legajoSeleccionadoCursoActivo.cuatrimestreId)}},&nbsp{{legajoSeleccionadoCursoActivo.modoId}},&nbsp{{legajoSeleccionadoCursoActivo.turnoId}}-->&nbsp&nbsp&nbsp</p>
		</div>
		<div class="panel-body">

			<table class="table table-striped" ng-show="!cargando && GetOK && informaConfiguracion['Basico']">
				<tbody>
					<tr>
						<td>
							<span class="glyphicon glyphicon-user" aria-hidden="true">&nbspEdad:&nbsp{{edad}}
						</td>
						<td>
							{{legajoSeleccionado.fechaNacimiento | date:'dd/MM/yyyy'}}&nbsp-&nbsp{{legajoSeleccionado.lugarNacimiento}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-send" aria-hidden="true">&nbsp{{legajoSeleccionado.alumno.mail.replace("%40","@")}}
						</td>
						<td>
							
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-earphone" aria-hidden="true">
							&nbsp{{legajoSeleccionado.alumno.telefono}}
						</td>
						<td>
							<span class="glyphicon glyphicon-phone" aria-hidden="true">&nbsp{{legajoSeleccionado.alumno.celular}}
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp{{legajoSeleccionado.direccionCalle}}&nbsp{{legajoSeleccionado.direccionNro}}
						</td>
						<td>
							{{legajoSeleccionado.direccionCoordenadaInterna}}
						</td>
					</tr>
					<tr>
						<td>
							({{legajoSeleccionado.codigoPostalBase}})&nbsp{{legajoSeleccionado.localidadBase}}
						</td>
						<td>
							Argentina
						</td>
					</tr>
					<tr>
						<td>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true">&nbsp({{legajoSeleccionado.localidad.codigoPostal.codigo}})&nbsp{{legajoSeleccionado.localidad.nombre}},&nbsp{{legajoSeleccionado.localidad.provinciaId}}
						</td>
						<td>
							{{legajoSeleccionado.localidad.paisId}}
						</td>
					</tr>

				</tbody>

			</table>

			<table class="table table-striped"  ng-show="!cargando && GetOK && informaConfiguracion['Estudios']">
				<thead>	
					<tr>
						<th>
							
						</th>
						<th>
							Nivel
						</th>
						<th>
							Título
						</th>
						<th>
							Institución
						</th>
					</tr>
				</thead>	
				<tbody ng-repeat="estudio in legajoSeleccionado.estudios">
					<tr>
						<td>
							<span class="glyphicon glyphicon-star" aria-hidden="true" style="color:blue" ng-show="estudio.terminado"></span>
							<span class="glyphicon glyphicon-play-circle" aria-hidden="true" style="color:deepskyblue" ng-show="!estudio.terminado"></span>
						</td>
						<td>
							{{estudio.nivelEstudioId}}
						</td>
						<td>
							{{estudio.titulo}}
						</td>
						<td>
							{{estudio.institucion}}
						</td>
					</tr>
				</tbody>

			</table>

			<table class="table table-striped"  ng-show="!cargando && GetOK && informaConfiguracion['Documentacion']">
				<thead>	
					<tr>
						<th>
							Cuestionario
						</th>
						<th>
							Apto Físico
						</th>
						<th>
							Título
						</th>
						<th>
							DNI
						</th>
						<th>
							Foto
						</th>
					</tr>
				</thead>	
				<tbody>
					<tr>
						<td>
							{{legajoSeleccionado.cuestionario | date:'dd/MM/yyyy'}}
						</td>
						<td>
							{{legajoSeleccionado.docAptoFisico | date:'dd/MM/yyyy'}}
						</td>
						<td>
							{{legajoSeleccionado.docTitulo | date:'dd/MM/yyyy'}}
						</td>
						<td>
							{{legajoSeleccionado.docDni | date:'dd/MM/yyyy'}}
						</td>
						<td>
							{{legajoSeleccionado.docFoto | date:'dd/MM/yyyy'}}
						</td>
					</tr>
				</tbody>

			</table>



		</div>
		<div class="panel-footer">
			<button class="btn btn-primary" ng-click="cambiarInforme('Basico')">Info</button>
			<button class="btn btn-primary" ng-click="cambiarInforme('Estudios')">Estudios</button>
			<button class="btn btn-primary" ng-click="cambiarInforme('Documentacion')">Documentación</button>
			<button class="btn btn-primary" ng-click="editarLegajo(legajoSeleccionado)">Editar</button>
		</div>
	</div>

	<div class="alert alert-warning" ng-show="!cargando && !GetOK">
		Los Legajos no fueron obtenidos, intente nuevamente.
	</div>