<div class="divSpinner" ng-show="cargando">
	<div class="spinner" />
</div>
<div class="container">
	<div class="row">
		<div class="alert alert-warning" ng-show="!cargando && !GetOK">
			Los Legajos no fueron obtenidos, intente nuevamente.
		</div>
		<div class="alert alert-danger" ng-show="error.hayError">
			<p ng-repeat="error in error.errores">
				<strong>{{error.codigo}}:</strong><em>&nbsp;{{error.mensaje}}</em>
			</p>
		</div>
	</div>
</div>
<form novalidate name="myForm" class="css-form" autocomplete="off">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="col-md-6">
					<!--<h4 >Nº:&nbsp{{legajoSeleccionado.legajoNro}}</h4>-->
					<div class="input-group" ng-class="myForm.legajoNro.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon" for="apellido">Nº:</span>
						<input id="legajoNro" type="text" required class="form-control text-right" name="legajoNro" required placeholder="[legajoNro]" ng-model="legajoSeleccionado.legajoNro">
					</div>
				</div>
				<i class="fa fa-flag" aria-hidden="true" ng-class="legajoSeleccionado.seguimiento ? 'banderin-alertOn fa-lg' : 'banderin-alertOff'" ng-model="legajoSeleccionado.seguimiento" data-toggle="tooltip" data-original-title="Marcar (o desmarcar) el seguimiento del estudiante." ng-click="setSeguimiento()"></i>
				<p class="text-right">
					<!--{{obtenerAnioCursado(legajoSeleccionadoCursoActivo.promocionId)}},&nbsp{{obtenerCuatrimestreCursado(legajoSeleccionadoCursoActivo.cuatrimestreId)}},&nbsp{{legajoSeleccionadoCursoActivo.modoId}},&nbsp{{legajoSeleccionadoCursoActivo.turnoId}} -->
					&nbsp&nbsp&nbsp
				</p>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						
				<div class="input-group" ng-class="'has-success'">
					<span class="input-group-addon" data-toggle="tooltip" data-original-title="Estado">Estado</span>
					<select class="form-control" ng-options="item as item.estadoEstudianteId for item in EstadosEstudiante" ng-model="estadoEstudianteNuevo"></select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group" ng-class="myForm.razonSuspension.$valid ? 'has-success' : 'has-error'">
					<span class="input-group-addon">Motivo</span>
					<input id="razonSuspension" type="text" class="form-control" name="razonSuspension" placeholder="Motivo del estado" ng-model="legajoSeleccionado.razonSuspension">
				</div>
			</div>
	
			</div>
			
				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.apellido.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon" for="apellido">Apellido</span>
							<input id="apellido" type="text" class="form-control" name="apellido" required placeholder="[Apellido(s)]" ng-model="legajoSeleccionado.alumno.apellido">
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.nombre.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Nombre</span>
							<input id="nombre" type="text" class="form-control" name="nombre" required placeholder="[nombre(s)]" ng-model="legajoSeleccionado.alumno.nombre">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.dni.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">DNI</span>
							<input id="dni" type="text" class="form-control" name="dni" required placeholder="[Nro del DNI]" ng-model="legajoSeleccionado.dni">
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.fechaNacimiento.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Fecha de Nacimiento</span>
							<!--<input id="fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" placeholder="[Fecha de nacimiento]"             ng-model="legajoSeleccionado.fechaNacimiento | date:'dd/MM/yyyy'" >-->
							<input id="fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" placeholder="[aaaa-mm-dd]" ng-model="legajoSeleccionado.fechaNacimiento" min="1917-01-01" max="2035-12-31" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="input-group" ng-class="myForm.lugarNacimiento.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Lugar de Nacimiento</span>
							<input id="lugarNacimiento" type="text" class="form-control" name="lugarNacimiento" placeholder="[Lugar de Nacimiento]" ng-model="legajoSeleccionado.lugarNacimiento">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="input-group" ng-class="myForm.email.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-send" data-toggle="tooltip" data-original-title="e-mail" ></span>
							</span>
							<input id="email" type="text" class="form-control" name="email" placeholder="[Email]" ng-model="legajoSeleccionado.alumno.mail">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.telefono.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">
					<span class="glyphicon glyphicon-earphone" data-toggle="tooltip" data-original-title="Teléfono Fijo" ></span>
							</span>
							<input id="telefono" type="text" class="form-control" name="telefono" placeholder="[Nro de teléfono (fijo)]" ng-model="legajoSeleccionado.alumno.telefono">
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.celular.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">
					<span class="glyphicon glyphicon-phone" data-toggle="tooltip" data-original-title="Teléfono Celular" ></span>
							</span>
							<input id="celular" type="text" class="form-control" name="celular" placeholder="[Nro de celular]" ng-model="legajoSeleccionado.alumno.celular">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="input-group" ng-class="myForm.domicilio.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-home" data-toggle="tooltip" data-original-title="Domicilio declarado" ></span>
							</span>
							<input id="domicilio" type="text" class="form-control" name="domicilio" placeholder="[Doicilio Declarado]" ng-model="legajoSeleccionado.alumno.domicilio" ng-readonly="true">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.calle.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">
					<span class="glyphicon glyphicon-home" data-toggle="tooltip" data-original-title="Calle validada"></span>
							</span>
							<input id="calle" type="text" class="form-control" name="calle" placeholder="[Dirección: Calle]" ng-model="legajoSeleccionado.direccionCalle">
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.nro.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">
					<span class="glyphicon glyphicon-home"  data-toggle="tooltip" data-original-title="Altura validada"></span>
							</span>
							<input id="nro" type="text" class="form-control" name="nro" placeholder="[Dirección: Nro]" ng-model="legajoSeleccionado.direccionNro">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="input-group" ng-class="myForm.coordenaInterna.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">
					<span class="glyphicon glyphicon-home"  data-toggle="tooltip" data-original-title="Coordenadas internas validadas"></span>
							</span>
							<input id="coordenaInterna" type="text" class="form-control" name="coordenaInterna" placeholder="[Dirección: Barrio/Piso/Dpto/otros]" ng-model="legajoSeleccionado.direccionCoordenadaInterna">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.codigoPostalBase.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">
						<span class="glyphicon glyphicon-home"  data-toggle="tooltip" data-original-title="Código Postal"></span>
							</span>
							<input id="codigoPostalBase" type="text" class="form-control" name="codigoPostalBase" pattern="^([A-Z]\d{4}[A-Z]{3}|\d{4})$" placeholder="[Dirección: Código Postal]" ng-model="legajoSeleccionado.codigoPostalBase" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.localidadBase.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">
						<span class="glyphicon glyphicon-home"  data-toggle="tooltip" data-original-title="Localidad Validada"></span>
							</span>
							<input id="localidadBase" type="text" class="form-control" name="localidadBase" placeholder="[Dirección: Localidad]" ng-model="legajoSeleccionado.localidadBase">
						</div>
					</div>
				</div>
			</div>

			<div class="panel-footer">
				<div class="col-md-8">
					<span ng-show="!myForm.$valid">El formulario está incompleto o con información incorrecta.</span>
				</div>
				<div class="text-right">
					<button class="btn btn-primary" ng-click="ActualizarLegajo(legajoSeleccionado)" ng-disabled="!myForm.$valid">Actualizar</button>
					<button class="btn btn-default" ng-click="cancelarEdicion()">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- ----------------------------------------------------------------------- -->
	<!-- ----------------------------------------------------------------------- -->
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="text-right">&nbspDatos Adicionales</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="'has-success'">
							<span class="input-group-addon">Sexo</span>
							<span class="input-group-addon"><input type="radio" name="r" ng-click="legajoSeleccionado.sexo='Femenino '" ng-checked="legajoSeleccionado.sexo!='Masculino'" ></span>
							<span class="input-group-addon">Femenino</span>
							<span class="input-group-addon"><input type="radio" name="r" ng-click="legajoSeleccionado.sexo='Masculino'" ng-checked="legajoSeleccionado.sexo==='Masculino'" ></span>
							<span class="input-group-addon">Masculino</span>
							<span class="input-group-addon">Sec Completo O ley 25 años</span>
							<span class="input-group-addon"><input type="checkbox" ng-model="legajoSeleccionado.secundarioCompletoOley25"></span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.fechaIngreso.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Fecha de Ingreso</span>
							<input id="fechaIngreso" type="text" class="form-control" name="fechaIngreso" placeholder="[aaaa-mm-dd]" ng-model="legajoSeleccionado.fechaIngreso" min="2010-01-01" max="2025-12-31" required />
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.cuestionario.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Cuestionario</span>
							<input id="cuestionario" type="text" class="form-control" name="cuestionario" placeholder="[aaaa-mm-dd]" ng-model="legajoSeleccionado.cuestionario" ng-readonly="true">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.pagoIniFecha.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Fecha de Pago Inicial</span>
							<input id="pagoIniFecha" type="text" class="form-control" name="pagoIniFecha" placeholder="[aaaa-mm-dd]" ng-model="legajoSeleccionado.pagoIniFecha" min="2010-01-01" max="2025-12-31" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.pagoIniMonto.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Monto Pago Inicial</span>
							<span class="input-group-addon">$</span>
							<input id="pagoIniMonto" type="text" class="form-control" name="pagoIniMonto" placeholder="[$$$$$]" ng-model="legajoSeleccionado.pagoIniMonto">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.docAptoFisico.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Fecha Apto Físico OK</span>
							<input id="docAptoFisico" type="text" class="form-control" name="docAptoFisico" placeholder="[aaaa-mm-dd]" ng-model="legajoSeleccionado.docAptoFisicoValido" min="2010-01-01" max="2025-12-31" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.docTitulo.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Fecha Título OK</span>
							<input id="docTitulo" type="text" class="form-control" name="docTitulo" placeholder="[aaaa-mm-dd]" ng-model="legajoSeleccionado.docTituloValido" min="2010-01-01" max="2025-12-31" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.docDni.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Fecha DNI OK</span>
							<input id="docDni" type="text" class="form-control" name="docDni" placeholder="[aaaa-mm-dd]" ng-model="legajoSeleccionado.docDnivalido" min="2010-01-01" max="2025-12-31" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.docFoto.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Fecha Foto OK</span>
							<input id="docFoto" type="text" class="form-control" name="docFoto" placeholder="[aaaa-mm-dd]" ng-model="legajoSeleccionado.docFotoValido" min="2010-01-01" max="2025-12-31" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.libroMatriz.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Libro Matriz</span>
							<input id="libroMatriz" type="number" class="form-control" name="libroMatriz" placeholder="Nro de Libro Matriz" ng-model="legajoSeleccionado.libroMatriz" min="0" max="9999" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-group" ng-class="myForm.folio.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Folio</span>
							<input id="folio" type="number" class="form-control" name="folio" placeholder="Nro. de Folio" ng-model="legajoSeleccionado.folio" min="1" max="9999" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="input-group" ng-class="myForm.mail2.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">E-Mail Bienvenida</span>
							<input id="mail2" type="text" class="form-control" name="mail2" ng-model="legajoSeleccionado.alumno.mail2" ng-readonly="true">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="input-group" ng-class="myForm.comentarios.$valid ? 'has-success' : 'has-error'">
							<span class="input-group-addon">Comentarios</span>
							<input id="comentarios" type="text" class="form-control" name="comentarios" placeholder="[Comentarios]" ng-model="legajoSeleccionado.comentarios">
						</div>
					</div>
				</div>

			</div>

			<div class="panel-footer">
				<div ng-show="!myForm.$valid">¡Hay errores en el formulario!</div>
			</div>
		</div>
		<div class="panel panel-primary" >
			<div class="panel-heading">
				<h4 class="text-right">&nbspDatos Inscripción</h4>
			</div>
			<div class="panel-body">
				<div class="col-md-6">
					<div class="input-group" ng-class="'has-success'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Año A Cursar">Año</span>
						<select class="form-control" ng-options="item as item.descripcion for item in anios" ng-model="anioAcursar" ng-disabled="editarInscripcion"></select>
					</div>
				</div>

				<div class="col-md-6">
					<div class="input-group" ng-class="'has-success'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Cuatrimestre a cursar" required >Cuatrimestre</span>
						<select class="form-control" ng-options="item as item.descripcion for item in nmestres" ng-model="nmestreAcursar" ng-disabled="editarInscripcion"></select>
					</div>
				</div>

				<div class="col-md-5">
					<div class="input-group" ng-class="'has-success'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Modalidad">Modalidad</span>
						<select class="form-control" ng-options="item as item.descripcion for item in modalidades" ng-model="modalidad" ng-disabled="editarInscripcion"></select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="input-group" ng-hide="modalidad.id!==1" ng-class="myForm.turno.$valid ? 'has-success' : 'has-error'">
						<span class="input-group-addon" data-toggle="tooltip" data-original-title="Turno (solo para presencial)">Turno</span>
						<select class="form-control" ng-required="modalidad.id===1" name="turno" ng-options="item as item.descripcion for item in turnos" ng-model="turno" ng-disabled="editarInscripcion"></select>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				...
			</div>
		</div>
	</div>
</form>
</div>