<div class="alert alert-info" ng-show="cargando">Cargando...</div>

<button type="button" class="btn btn-default" ng-click="cargarLegajo(legajos[1])">Default</button>

<form novalidate name="myForm" class="col-md-6 css-form">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="col-md-6">
				<button class="btn btn-primary" ng-click="ActualizarLegajo(legajoSeleccionado)" ng-disabled="!(!myForm.$pristine && myForm.$valid)">Actualizar</button>
			</div>
			<div class="col-md-6">
				<h4 class="text-right">Nº:&nbsp{{legajoSeleccionado.legajoNro}}</h4>
			</div>
			<p class="text-right">{{obtenerAnioCursado(legajoSeleccionadoCursoActivo.promocionId)}},&nbsp{{obtenerCuatrimestreCursado(legajoSeleccionadoCursoActivo.cuatrimestreId)}},&nbsp{{legajoSeleccionadoCursoActivo.modoId}},&nbsp{{legajoSeleccionadoCursoActivo.turnoId}}&nbsp&nbsp&nbsp</p>
		</div>
		<div class="panel-body">

			<div class="input-group" ng-class="myForm.apellido.$valid ? 'has-success' : 'has-error'">
				<span class="input-group-addon" for="apellido">Apellido</span>
				<input id="apellido" type="text" class="form-control" name="apellido" required placeholder="[Apellido(s)]" ng-model="legajoSeleccionado.alumno.apellido">
				<span class="input-group-addon">Nombre</span>
				<input id="nombre" type="text" class="form-control" name="nombre" required placeholder="[nombre(s)]" ng-model="legajoSeleccionado.alumno.nombre">
			</div>

			<div class="input-group">
				<span class="input-group-addon">DNI</span>
				<input id="dni" type="text" class="form-control" name="dni" required placeholder="[Nro del DNI]" ng-model="legajoSeleccionado.dni">
				<span class="input-group-addon">Fecha de Nacimiento</span>
				<input id="fechaNacimiento" type="date" class="form-control" name="fechaNacimiento" placeholder="[Fecha de nacimiento]">
			</div>

			<div class="input-group">
				<span class="input-group-addon">Lugar de Nacimiento</span>
				<input id="lugarNacimiento" type="text" class="form-control" name="lugarNacimiento" required placeholder="[Lugar de Nacimiento]" ng-model="legajoSeleccionado.lugarNacimiento">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-send"></span>
				</span>
				<input id="email" type="text" class="form-control" name="email" placeholder="[Email]" ng-model="legajoSeleccionado.alumno.mail">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-earphone"></span>
				</span>
				<input id="telefono" type="text" class="form-control" name="telefono" placeholder="[Nro de teléfono (fijo)]" ng-model="legajoSeleccionado.alumno.telefono">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-phone"></span>
				</span>
				<input id="celular" type="text" class="form-control" name="celular" placeholder="[Nro de celular]" ng-model="legajoSeleccionado.alumno.celular">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-home"></span>
				</span>
				<input id="calle" type="text" class="form-control" name="calle" placeholder="[Dirección: Calle]" ng-model="legajoSeleccionado.direccionCalle">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-home"></span>
				</span>
				<input id="calle" type="text" class="form-control" name="calle" placeholder="[Dirección: Nro]" ng-model="legajoSeleccionado.direccionNro">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-home"></span>
				</span>
				<input id="coordenaInterna" type="text" class="form-control" name="coordenaInterna" placeholder="[Dirección: Barrio/Piso/Dpto/otros]"
					ng-model="legajoSeleccionado.direccionCoordenadaInterna">
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-home"></span>
				</span>
				<input id="codigoPostalBase" type="text" class="form-control" name="codigoPostalBase" pattern="^([A-Z]\d{4}[A-Z]{3}|\d{4})$"
					placeholder="[Dirección: Código Postal]" ng-model="legajoSeleccionado.codigoPostalBase" required>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-home"></span>
				</span>
				<input id="localidadBase" type="text" class="form-control" name="localidadBase" placeholder="[Dirección: Localidad]" ng-model="legajoSeleccionado.localidadBase">
			</div>
		</div>

		<div class="panel-footer">
			<div ng-show="!myForm.$valid">¡Hay errores en el formulario!</div>
		</div>
	</div>
</form>

<div class="col-md-6">
	<kbd>codigoPostalBase = {{codigoPostalBase.text}}</kbd><br/>
	<kbd>myForm.codigoPostalBase.$error =  {{myForm.codigoPostalBase.$error}}</kbd><br/><br/>
	<kbd>myForm.apellido.$error =  {{myForm.apellido.$error}}</kbd><br/><br/>

	<kbd>myForm.$pristine = {{myForm.$pristine}}</kbd><br/>
	<kbd>myForm.$valid = {{myForm.$valid}}</kbd><br/>
	<kbd>myForm.$error = {{myForm.$error}}</kbd><br/><br/>
</div>

<div class="alert alert-warning" ng-show="!cargando && !GetOK">
	Los Legajos no fueron obtenidos, intente nuevamente.
</div>