.selected {
	/*background-color:blue;*/
	font-weight: bold; 

}

.stylish-panel {
    padding: 20px 0;
    text-align: center;
}
.stylish-panel > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}
.stylish-panel > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
    height: 60px;
    z-index: 999;
}

.contenido{ 
    margin-top: 60px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}



/*spinner (http://tobiasahlin.com/spinkit/)*/
.spinner {
  width: 35px;
  height: 35px;
  margin: 0px auto;
  background-color: royalblue;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 0.3s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
/*end spinner*/